{% extends '::main-no-head.html.twig' %}

{% block content %}
    <article>
        <h2>{{ one_news.title }}</h2>
        
        <div class="article-date-rubrics">{{ one_news.createdat|date('d M Y') }}</div>

        <p>{{ one_news.preview|raw }}</p>
        <p>{{ one_news.text|raw }}</p>
    </article>
        
    <div class="to-newslist-link"><a href="{{ path('news') }}">← <u>к списку новостей</u></a></div>        
{% endblock %}