{% extends '@SonataAdmin/standard_layout.html.twig' %}

{% block sonata_breadcrumb %}
    <div class="navbar-left">
        <ol class="nav navbar-top-links breadcrumb">
            <li>
                <a href="{{ url('sonata_admin_dashboard') }}">{% trans %}Dashboard{% endtrans %}</a>
            </li>
            <li class="active">{{ 'statistic.title'|trans }}</li>
        </ol>
    </div>
{% endblock sonata_breadcrumb %}

{% block stylesheets %}
    {{ parent() }}
{% endblock stylesheets %}

{% block title %} - {{ 'Статистика' }}{% endblock title %}

{% block content %}
    <h1>{{ 'statistic.title'|trans }}</h1>
    <h4>{{ 'statistic.users.data.title'|trans }}</h4>
    {#<h4>статистика по принятию/отказов в предоставлении своих данных участниками</h4>#}

    <table>
        <tbody>
        <tr>
            <td>{{ 'statistic.users.data.denie'|trans }}</td>
            {#<td>Людей отказалось предоставлять свои данные партнерам:</td>#}
            <td>{{ data['countRefusedProvideData'] }}</td>
        </tr>
        <tr>
            <td>{{ 'statistic.users.data.access'|trans }}</td>
            {#<td>Людей согласилось:</td>#}
            <td>{{ data['countAgreedProvideData'] }}</td>
        </tr>
        <tr>
            <td>{{ 'statistic.users.data.wait'|trans }}</td>
            {#<td>Людей еще не ответило:</td>#}
            <td>{{ data['countNotAnswered'] }}</td>
        </tr>
        </tbody>
    </table>


    <h4>{{ 'statistic.users.data.referral'|trans }}</h4>
    {#<h4>статистика по реферральной программе</h4>#}
    <table>
        <tbody>
        <tr>
            <td>{{ 'statistic.users.data.referral.linked'|trans }}</td>
            {#<td>Переходов по ссылкам:</td>#}
            <td>{{ data['countUseReferralProgram'] }}</td>
        </tr>
        </tbody>
    </table>
{% endblock content %}

{% block javascripts %}
    {{ parent() }}
{% endblock javascripts %}
