{% set link = '' %}
{% set scrollClass = '' %}
{% if position == 'report' %}
    {% set link = url('event_show_redesign', {'eventSlug': event.slug }) %}
{% elseif position == 'event' %}
    {% set scrollClass = ' go-to-block' %}
{% endif %}
<!--BEGIN event-header-->
<section class="event-header" style="background-color: {{ event.backgroundColor }};">
    <div class="event-header__box">
        <h1 class="event-header__title">{{ event.name }}</h1>
        <div class="event-header__info">
            <div class="event-header__description">{{ event.description|raw }}
            </div>
            <div class="event-header__details">
                <div class="event-header__details-left">
                    {% if event.isUseApproximateDate %}
                        <time class="event-header__date">{{ event.approximateDate }}</time>
                    {% else  %}
                        {% if event.date|date("d/m/Y") == event.dateEnd|date("d/m/Y") %}
                            <time class="event-header__date">{{ event.date|format_date('d MMMM Y', app.request.locale, 'Europe/Kiev') }},<br> {{ event.date|format_date('HH:mm', app.request.locale, 'Europe/Kiev') }}–{{ event.dateEnd|format_date('HH:mm', app.request.locale, 'Europe/Kiev') }}</time>
                        {% elseif event.dateEnd %}
                            <time class="event-header__date">{{ event.date|format_date('d MMMM Y, HH:mm', app.request.locale, 'Europe/Kiev') }}<br> – {{ event.dateEnd|format_date('d MMMM Y, HH:mm', app.request.locale, 'Europe/Kiev') }}</time>
                        {% else %}
                            <time class="event-header__date">{{ event.date|format_date('d MMMM Y', app.request.locale, 'Europe/Kiev') }},<br>{{ event.date|format_date('HH:mm', app.request.locale, 'Europe/Kiev') }}</time>
                        {% endif %}
                    {% endif %}
                    {% if programPage %}
                    <a href="{{ link }}#program-event" class="event-header__program{{ scrollClass }}">{{ 'event.page.program'|trans }}</a>
                    {% endif %}
                </div>
                {% if venuePage %}
                <div class="event-header__details-right">
                    <a href="{{ link }}#location-event" class="event-header__location{{ scrollClass }}">{{ event.place|raw }}</a>
                </div>
                {% endif %}
            </div>
            <div class="event-header__action">
                {% render controller('ApplicationDefaultBundle:Ticket:status', {'event':event, 'position':'event_header'}) %}
                {% if event.activeAndFuture and event.receivePayments %}
                    <a href="{{ link }}#price-event" class="event-header__tickets go-to-block">{{ 'ticket.summ_from'|trans({"%summ%":eventCurrentAmount|number_format(0,',',' ')}) }}</a>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="event-header__photo">
        {% if event.logoFile is not empty %}
            <img class="event-header__img" src="{{ vich_uploader_asset(event, 'logoFile') }}" alt="{{ event.name }}">
        {% endif %}
    </div>
</section>
<!--END event-header-->
<!--BEGIN fix-event-header-->
<section class="fix-event-header" style="background-color: {{ event.backgroundColor }};">
    <div class="fix-event-header__left">
        {% if (event.speakers is defined and event.speakers|length > 0) or
                programPage or venuePage or
                (event.activeAndFuture and event.receivePayments and event.TicketsCost|length > 0)

        %}
            <div id="event-menu-trigger" class="fix-event-header__trigger-menu">
                <i class="icon-arrow"></i>
            </div>
        {% endif %}
        <div class="fix-event-header__title">{{ event.name }}</div>
    </div>
    <div class="fix-event-header__right">
        {% include '@ApplicationDefault/Redesign/Event/event.menu.html.twig' with {'event':event, 'programPage':programPage, 'venuePage':venuePage, 'pages':pages, 'position': position} %}
        {% render controller('ApplicationDefaultBundle:Ticket:status', {'event':event, 'position':'event_fix_header'}) %}
        {% render controller('ApplicationDefaultBundle:Ticket:status', {'event':event, 'position':'event_fix_header_mob'}) %}
    </div>
</section>
<!--END fix-event-header-->
<!--BEGIN event-buy-mob-->
<section class="event-action-mob">
    <div class="container">
        {% render controller('ApplicationDefaultBundle:Ticket:status', {'event':event, 'position':'event_action_mob'}) %}
    </div>
</section>
<!--END event-buy-mob-->