{% extends 'ApplicationDefaultBundle:Redesign:layout.html.twig' %}

{% block title %}{% if event.name is not null %}{{ event.name }}{% else %}{{ parent() }}{% endif %}{% endblock title %}

{% block meta_description %}
    {% if event.metaDescription is not null %}
    <meta name="description" content="{{ event.metaDescription }}">
    {% else %}
    {{ parent() }}
    {% endif %}
{% endblock meta_description %}

{% block body_class %}
{% if event.smallEvent %}
<body class="short-event">
{% else %}
{{ parent() }}
{% endif %}
{% endblock %}

{% block content %}
    {% include 'ApplicationDefaultBundle:Redesign/Event:event.header.html.twig' with {
    'event':event,
    'programPage':programPage,
    'venuePage':venuePage,
    'pages':pages,
    'position':'event',
    'eventCurrentAmount':eventCurrentAmount
    } %}

    <!--BEGIN event-themes-->
    <section class="event-themes">
        <div class="container container--sm">
            <h2 class="event-title">Теми доповідей</h2>
            <ul class="info-list">
                <li class="info-list__item info-list__item--with-icon">
                    <div class="info-list__description">
                        <div class="info-list__name">
                            <img src="/img/ic_busdev.svg" alt="" class="info-list__icon">
                            Business development and Sales</div>
                        <ul>
                            <li><p class="info-list__text">Pозвиток компанії</p></li>
                            <li><p class="info-list__text">Визначення напрямку діяльності</p></li>
                            <li><p class="info-list__text">Формування місії та цілей компанії</p></li>
                        </ul>
                    </div>
                </li>
                <li class="info-list__item info-list__item--with-icon">
                    <div class="info-list__description">
                        <div class="info-list__name">
                            <img src="/img/ic_hr.svg" alt="" class="info-list__icon">
                            Employer branding. Recruitment. HR</div>
                        <ul>
                            <li><p class="info-list__text">Планування, організація, контроль фінансів</p></li>
                            <li><p class="info-list__text">Управління фінансами для підвищення ефективності
                                    бізнесу</p></li>
                        </ul>
                    </div>
                </li>
                <li class="info-list__item info-list__item--with-icon">
                    <div class="info-list__description">
                        <div class="info-list__name">
                            <img src="/img/ic_marketing.svg" alt="" class="info-list__icon">
                            Marketing. Advertising. Branding</div>
                        <ul>
                            <li><p class="info-list__text">Pозвиток компанії</p></li>
                            <li><p class="info-list__text">Визначення напрямку діяльності</p></li>
                            <li><p class="info-list__text">Формування місії та цілей компанії</p></li>
                        </ul>
                    </div>
                </li>
                <li class="info-list__item info-list__item--with-icon">
                    <div class="info-list__description">
                        <div class="info-list__name">
                            <img src="/img/ic_finman.svg" alt="" class="info-list__icon">
                            Financial management</div>
                        <ul>
                            <li><p class="info-list__text">Pозвиток компанії</p></li>
                            <li><p class="info-list__text">Визначення напрямку діяльності</p></li>
                            <li><p class="info-list__text">Формування місії та цілей компанії</p></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </section>
    <!--END event-themes-->

    <!--BEGIN event-video-->
    <section class="event-video">
        <div class="container container--sm">
            <h2 class="event-title">Формат конференції</h2>
            <div class="event-video__frame">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/lSQE5d1rbLI" allowfullscreen=""></iframe>
            </div>
            <ul class="info-list">
                <li class="info-list__item">
                    <div class="info-list__description">
                        <div class="info-list__name">Три потоки доповідей</div>
                        <p class="info-list__text">Практичні доповіді від досвідчених експертів у своїх сферах,
                            які проводитимуться українською, англійською та російською мовами</p>
                    </div>
                </li>
                <li class="info-list__item">
                    <div class="info-list__description">
                        <div class="info-list__name">Зал з воркшопами</div>
                        <p class="info-list__text">Воркшопи націлені на розгляд практичних та буденних питань, з якими ви стикаєтесь щодня</p>
                    </div>
                </li>
                <li class="info-list__item">
                    <div class="info-list__description">
                        <div class="info-list__name">Speakers’ corner</div>
                        <p class="info-list__text">Ви зможете поспілкуватися зі спікерами та задати їм безліч питань без обмеження у часі</p>
                    </div>
                </li>
                <li class="info-list__item">
                    <div class="info-list__description">
                        <div class="info-list__name">Зона партнерів</div>
                        <p class="info-list__text">Знаходьте нових партнерів для бізнесу, ідеї та обмінюйтесь контактами</p>
                    </div>
                </li>
            </ul>
        </div>
    </section>
    <!--END event-video-->

    <!--BEGIN conf-numbers-->
    <section class="conf-numbers" style="background: #00175C url(/img/numbers_bg.jpg) no-repeat top center; background-size: 1920px;">
        <div class="container container--sm">
            <h2 class="event-title conf-numbers__title">Конференція в цифрах</h2>
            <ul class="conf-numbers__list">
                <li class="conf-numbers__item">
                    <div class="conf-numbers__info">
                        <div class="conf-numbers__label">600</div>
                        <div class="conf-numbers__value">учасників</div>
                    </div>
                </li>
                <li class="conf-numbers__item">
                    <div class="conf-numbers__info">
                        <div class="conf-numbers__label">9</div>
                        <div class="conf-numbers__value">годин нетворкінгу</div>
                    </div>
                </li>
                <li class="conf-numbers__item">
                    <div class="conf-numbers__info">
                        <div class="conf-numbers__label">20</div>
                        <div class="conf-numbers__value">спікерів</div>
                    </div>
                </li>
                <li class="conf-numbers__item">
                    <div class="conf-numbers__info">
                        <div class="conf-numbers__label">29</div>
                        <div class="conf-numbers__value">конференцій від Fwdays</div>
                    </div>
                </li>
                <li class="conf-numbers__item">
                    <div class="conf-numbers__info">
                        <div class="conf-numbers__label">3</div>
                        <div class="conf-numbers__value">потоки доповідей</div>
                    </div>
                </li>
                <li class="conf-numbers__item">
                    <div class="conf-numbers__info">
                        <div class="conf-numbers__label">1</div>
                        <div class="conf-numbers__value">потік з&nbsp;воркшопами</div>
                    </div>
                </li>
            </ul>
        </div>
    </section>
    <!--END conf-numbers-->

    <!--BEGIN event-description-->
    <section class="event-description">
        <div class="container container--sm">
            <div class="event-description__text static-styles">
            {{ event.about|raw }}
            </div>
        </div>
    </section>
    <!--END event-description-->
    <!--BEGIN speakers-->
    {% include 'ApplicationDefaultBundle:Redesign/Event:event.speakers.html.twig' with {'event':event} %}
    <!--END speakers-->
    <!--BEGIN program-->
    {% if programPage %}
    <section id="program-event" class="schedule">
        <div class="container schedule__container">
            <h2 class="h2 schedule__title">{{ 'event.page.program'|trans }}</h2>
            {% if programPage.textNew is not empty %}
                {{ programPage.textNew|raw }}
            {% else %}
                {{ programPage.text|raw }}
            {% endif %}
        </div>
    </section>
    {% endif %}
    <!--END program-->

    {% if event.activeAndFuture and event.receivePayments %}
        {% render controller('ApplicationDefaultBundle:Event:getEventCosts', {'event':event}) %}
    {% endif %}

    {% render controller('ApplicationDefaultBundle:Event:eventPartners', {'event':event}) %}

    {% include '@ApplicationDefault/Redesign/Event/event.speakers_committee.html.twig' with {'event':event} %}

    <!--BEGIN location-->
    <section id="location-event" class="location">
        <div class="container container--sm">
            <h2 class="h2 location__title">{{ 'event.page.venue'|trans }}</h2>
            <div class="location__description">
                {{ event.city }}, {{ event.place }}
            </div>
            {% if venuePage %}
                <a href="{{ path('show_event_venue_page', {'eventSlug': event.slug }) }}" class="location__help">{{ 'event.page.venue_how'|trans }}</a>
            {% endif %}
        </div>
        <div class="container">
            <div id="map" data-event="{{ event.slug }}" data-lng="{{ event.lng }}" data-lat="{{ event.lat }}" class="location__map"></div>
        </div>
    </section>
    <!--END location-->

    <button class="btn-up" style="background-color: {{ event.backgroundColor }};"></button>
{% endblock content %}
{% block popups %}
{{ parent() }}
<!--BEGIN speaker-popup-->
<div id="speaker-popup" class="remodal remodal--lg" data-remodal-id="modal-speaker" data-remodal-options="hashTracking: false">
    <button data-remodal-action="close"
            class="remodal-close remodal-close--circle icon-close icon-close--circle"></button>
    <div id="speaker-popup-content" class="remodal__body static-styles">
    <!-- popup content  -->
    </div>
</div>
<!--END speaker-popup-->
{% endblock popups %}
{% block scripts %}
    <script type="text/javascript"
            src="https://maps.googleapis.com/maps/api/js?key={{ google_apikey }}&libraries=places"></script>
    {{ parent() }}
    <script>
        $(document).ready(function () {

            function getCurrentDateStr() {
                var month = d.getMonth()+1;
                var day = d.getDate();
                return d.getFullYear() + '-' +
                    (month < 10 ? '0' : '') + month + '-' +
                    (day < 10 ? '0' : '') + day;
            }

            function getCurrentTimeStr() {
                return d.getHours() + ":" + d.getMinutes();
            }

            function scrollToNearReport() {
                var scrollTo = null;
                var current_report = null;
                var prev_report = null;
                var now_time = getCurrentTimeStr();

                $('.program-body__td--time').each(function (index, value) {
                    if (current_report !== null) {
                        prev_report = current_report;
                    }
                    current_report = $(this);
                    if (now_time < current_report.text()) {
                        if (prev_report !== null) {
                            scrollTo = prev_report;
                        } else {
                            scrollTo = current_report;
                        }
                        return false;
                    }
                });
                if (scrollTo !== null) {
                    $('body,html').animate({
                        scrollTop: scrollTo.offset().top - 125
                    }, 600);
                }
            }

            var d = new Date();
            var now_date = getCurrentDateStr();
            var event_header_date_element = $('.event-header__date');
            var event_date = event_header_date_element.attr('datetime');

            if (event_date === now_date) {
                scrollToNearReport();
            }
        });
    </script>
{% endblock scripts %}