{% if isDiv %}<div{% else %}<a{% endif %}
{% if href %} href="{{ href }}"{% endif %}
{% if class %} class="{{ class }}"{% endif %}
{% if data %} data-event="{{ data }}"{% endif %}
{% if onClick %} onclick="{{ onClick }}"{% endif %}
>{% if caption %}{{ caption|raw }}{% endif %}{% if isDiv %}</div>{% else %}</a>{% endif %}
