{%- if event.activeAndFuture and event.receivePayments and ticketCosts is defined and ticketCosts|length > 0 -%}
    <!--BEGIN price-list-->
    <section id="price-event" class="price-list">
        <div class="container container--sm">
            <h2 class="h2 price-list__title">{{ 'event.price.title'|trans }}</h2>
            <div class="price-list__items">
                {% if ticketCosts is defined and ticketCosts|length > 0 %}
                    {% for ticket in ticketCosts %}
                        {% include '@ApplicationDefault/Redesign/price_block.html.twig' with {'ticket':ticket, 'currentPrice' : currentPrice, 'event':event}  %}
                    {% endfor %}
                {% endif %}
            </div>
            <div class="event-discount">
                <div class="event-discount__date">з 24 по 31 грудня</div>
                <div class="event-discount__title">Квитки у подарунок</div>
                <p class="event-discount__text">
                    Купуйте два квитки за ціною одного на конференцію Java Script fwdays'19.
                    Після придбання квитка, ми надішлемо вам промокод на другий безкоштовний квиток.
                    Або пишіть нам на пошту <a href="mailto:orgs@fwdays.com">orgs@fwdays.com</a> і отримайте промокод у формі стильного подарункового сертифікату.
                </p>
            </div>
            {%- if event.useDiscounts -%}
                <div class="price-list__discount-list">
                    <div class="price-list__discount-item">
                        {%- if event.useDiscounts -%}
                            <div class="price-list__hint">
                                {{ 'payment.discount.member'|trans({'%summ%':20})|raw }}&nbsp;
                            </div>
                            <div class="price-list__hint-small">
                                {{ 'payment.discount.tooltip'|trans}}
                            </div>
                        {% endif %}
                    </div>
                    <div class="price-list__discount-item">
                        {%- if event.useDiscounts -%}
                            <div class="price-list__hint">
                                {{ 'payment.discount.student'|trans|raw }}&nbsp;
                            </div>
                            <div class="price-list__hint-small">
                                {{ 'payment.discount.student_tooltip'|trans|raw}}
                            </div>
                        {% endif %}
                    </div>
                </div>
            {% endif %}
        </div>
    </section>
    <!--END price-list-->
{%- endif -%}



