{% if isDiv %}<div{% else %}<a{% endif %}
{% if id %} id="{{ id }}"{% endif %}
{% if class %} class="{{ class }}"{% endif %}
{% if data %} data-event="{{ data }}"{% endif %}
{% if onClick %} onclick="{{ onClick }}"{% endif %}
>{% if caption %}{{ caption|raw }}{% endif %}{% if isDiv %}</div>{% else %}</a>{% endif %}

{#ticket download#}
{% if href %}<div class="{{ ticket_class }}"><a href="{{ href }}">{{ ticket_caption|raw }}</a></div>{% endif %}