{% if isDiv %}<div{% else %}<a{% endif %}
{% if class %} class="{{ class }}"{% endif %}
{% if data %} data-event="{{ data }}"{% endif %}
{% if onClick %} onclick="{{ onClick }}"{% endif %}
>{% if caption %}{{ caption|raw }}{% endif %}{% if isDiv %}</div>{% else %}</a>{% endif %}

{#ticket download#}
{% if href %}<br><a href="{{ href }}" class="{{ ticket_class }}">{{ ticket_caption|raw }}</a>{% endif %}
