{% for speaker in speakers %}
<li class="speakers__item speaker-card">
    <div class="speaker-card__box">
        <a data-event="{{ event.slug }}" data-speaker="{{ speaker.slug }}" data-review="{{ with_review ? 1 : 0 }}" class="speaker-card__top">
            <div class="speaker-card__photo">
            {% if speaker.photo is not null %}
                <img class="speaker-card__img" src="{{ speaker_cache_path ~ '/' ~ speaker.photo}}" alt="">
            {% else %}
                <img class="speaker-card__img" src="{{ asset('assets/img/speakers/default_avatar.png') }}" alt="">
            {% endif %}
            </div>
            <span class="speaker-card__name">{{ speaker.name }}</span>
            <span class="speaker-card__position">{{ speaker.company }}</span>
        </a>
        {% if with_review %}
        <div class="speaker-card__bottom">
                {% if speaker.reviews %}
                    {% for review in speaker.reviews %}
                        <a href="{{ path('event_review_show_redesign', {'eventSlug':event.slug, 'reviewSlug':review.slug }) }}" class="speaker-card__report">{{ review.title }}</a>
                        {% if review.event.isActiveAndFuture %}
                            <div class="like-btn speaker-card__likes">
                            {% include '@ApplicationDefault/Redesign/like.html.twig' with {'review':review} %}
                            </div>
                        {% endif %}
                    {% endfor %}
                {% else %}
                    <div class="speaker-card__hint-report">{{ 'speaker.no_review.text'|trans }}</div>
                {% endif %}
        </div>
        {% endif %}
    </div>
</li>
{% endfor %}