{% extends 'StfalconEventBundle::events-layout.html.twig' %}

{% block title %}Мои события / {{ parent() }}{% endblock %}

{% block content %}
    <h2>Мои события</h2>

    <table class="conferences-list">
        <tbody>
            {% for ticket in tickets %}
                <tr>
                    {% set event = ticket.event %}
                    <td class="conf-logo">
                        <a href="{{ path('event_show', {'event_slug': event.slug }) }}">
                            <img src="{{ vich_uploader_asset(event, 'file') }}" width="88" height="87" alt="{{ event.name }}" title="{{ event.name }}">
                        </a>
                    </td>
                    <td class="conf-info">
                        <div class="conf-info-h">
                            {% include "StfalconEventBundle:Event:_event_place_block.html.twig" with { 'event': event } %}
                        </div>

                        <p>{{ event.description }}</p>

                        {% render controller("StfalconEventBundle:Ticket:status", { 'event': event }) %}

                        <div class="conf-info-links">
                            <a href="{{ path('event_show', {'event_slug': event.slug } )}}">Детальная информация</a>
                        </div>
                    </td>
                </tr>
            {% endfor %}

        </tbody>
    </table>
{% endblock %}
