<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <title>{{ ticket.event.name }}</title>

    {%block stylesheets%}
        {% stylesheets '@StfalconEventBundle/Resources/web/css/style.css' %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
        {% endstylesheets %}
    {%endblock stylesheets%}
</head>
<body>
<content>
    <div class="container">
        <div class="ticket">
            <div class="clear"></div>
            <div class="main">
                <div class="time_and_place">
                    <div class="time">
                        <strong>Время</strong>
                        <span>24 ноября 2012</span>
                    </div>
                    <div class="place">
                        <strong>Место проведение</strong>
							<span>Отель “Казацкий”<br>
								г. Киев, ул. Михайловская, 1/3<br>
								(Площадь Независимости)</span>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="name_studio_bilet-number">
                    <strong>{{ ticket.user.fullname }}</strong>
                    {% if ticket.user.company %}
                        <span> {{ ticket.user.company }} </span>
                    {% endif %}
                    <small>№ билета: <em>{{ ticket.id }}</em></small>
                    <div class="clear"></div>
                </div>
            </div>
            <div class="side">
                <a href="" class="logo">
                    {% image '@StfalconEventBundle/Resources/web/images/logo.png' %}
                         <img src="{{ asset_url }}" >
                    {% endimage %}
                </a>
                <div class="event_name">
                    <strong></strong>
                    <span></span>
                    <div class="clear"></div>
                </div>
                <img src="data:image/png;base64,{{ qrCodeBase64 }}" alt="">
            </div>
            <div class="clear"></div>
        </div>
    </div>
</content>
</body>
</html>
