{% extends '@ApplicationDefault/Redesign/layout.html.twig' %}

{% block content %}
    {#BEGIN markup for payment#}
    {% include '@ApplicationDefault/Redesign/Payment/payment.payer_row.html.twig' %}
    {% include '@ApplicationDefault/Redesign/Payment/payment.payer_edit.html.twig' %}

    <section class="payment">
        <div class="container payment__container">
            <div class="payment__left">
                <h2 class="h2 payment__title">{{ 'popup.header.title'|trans({'%event_name%':event.name}) }}</h2>
                <div class="payment__list" id="payment-list" data-event="{{ event.slug }}">
                    {%- for key, ticket in payment_data.tickets -%}
                        <div class="payer" id="{{ ticket.id }}">
                            <label class="label-hidden-user-promocode" style="display: none">{% if ticket.promo_code %}{{ ticket.promo_code.code }}{% endif %}</label>
                            <div class="payer__number">{{ loop.index }}</div>
                            <div class="user-payment">
                                <div class="user-payment__left">
                                    <label class="label-hidden-user-name" style="display: none">{{ ticket.user.name }}</label>
                                    <label class="label-hidden-user-surname" style="display: none">{{ ticket.user.surname }}</label>
                                    <div class="user-payment__name">{{ ticket.user.name ~ ' ' ~ ticket.user.surname }} </div>
                                    <div class="user-payment__email">{{ ticket.user.email }}</div>
                                </div>
                                <div class="user-payment__right">
                                    <div class="user-payment__price">
                                          <span class="user-payment__price-strike" {%- if ticket.has_discount == false -%}style="display: none" {%- endif -%} >{{ ticket.amount_without_discount }}</span>{{ ticket.amount }}
                                    </div>
                                    <div class="user-payment__discount" {%- if ticket.has_discount == false -%}style="display: none"{%- endif -%}>{{ ticket.discount_description|raw }}</div>
                                </div>
                                <div class="user-payment__controls">
                                    <button type="button" class="user-payment__btn ticket-edit-btn">
                                        <i class="icon-edit"></i>
                                    </button>
                                    <button type="button" class="user-payment__btn ticket-delete-btn" {%- if payment_data.ticket_count < 2 -%}style="display: none" {% endif %}>
                                        <i class="icon-closed"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    {%- endfor -%}
                </div>
                <button id="add-user-form" type="button" class="btn-icon">
                    <i class="icon-add btn-icon__img"></i>
                    <span class="btn-icon__text">{{ 'pay.event.one_more_participants'|trans }}</span>
                </button>
            </div>

            {% include '@ApplicationDefault/Redesign/Payment/payment.sums.html.twig' %}
        </div>
    </section>
    {#END markup for payment#}
{% endblock content %}

{% block payment_popup %}{% endblock %}

{% block scripts %}
    {{ parent() }}
    <script>
        let ticket_count = '{{ payment_data.ticket_count }}';
        let saved_payment_amount = '{{ payment_data.amount }}';
    </script>
{% endblock scripts %}