{% extends '@ApplicationDefault/Redesign/layout.html.twig' %}

{% block content %}
    {#BEGIN markup for payment#}
    {% include '@ApplicationDefault/Redesign/Payment/payment.frontend.payer_row.html.twig' %}
    {% include '@ApplicationDefault/Redesign/Payment/payment.frontend.payer_edit.html.twig' %}

    <section class="payment">
        <div class="container payment__container">
            <div class="payment__left">
                <h2 class="h2 payment__title">{{ 'popup.header.title'|trans({'%event_name%':event.name}) }}</h2>
                <div class="payment__list" id="payment-list" data-event="{{ event.slug }}">
                    {%- for key, ticket in payment_data.tickets -%}
                        {% include '@ApplicationDefault/Redesign/Payment/payment.back_end.payer_row.html.twig' %}
                    {%- endfor -%}
                    {% set ticket = {'id': 0, 'user': {'name': '', 'surname': '', 'email': ''}, 'promo_code': ''} %}
                    {% if (payment_data.ticket_count == 1 and app.session.get(constant('Application\\Bundle\\DefaultBundle\\Controller\\PaymentController::NEW_PAYMENT_SESSION_KEY'))) or
                        payment_data.ticket_count == 0 %}
                        {% set payment_ticket = payment_data.ticket_count == 1 ? payment_data.tickets[0] : ticket %}
                        {% include '@ApplicationDefault/Redesign/Payment/payment.back_end.payer_edit.html.twig' with {'ticket': payment_ticket} %}
                    {% endif %}
                </div>

                <button id="add-user-form" type="button" class="btn-icon"
                        {%- if (payment_data.ticket_count == 1 and app.session.get(constant('Application\\Bundle\\DefaultBundle\\Controller\\PaymentController::NEW_PAYMENT_SESSION_KEY'))) or
                            payment_data.ticket_count == 0 -%}
                        style="display: none"
                    {% endif %}
                >
                    <i class="icon-add btn-icon__img"></i>
                    <span class="btn-icon__text">{{ 'pay.event.one_more_participants'|trans }}</span>
                </button>

            </div>

            {% include '@ApplicationDefault/Redesign/Payment/payment.sums.html.twig' %}
        </div>
    </section>
    {#END markup for payment#}
{% endblock content %}

{% block payment_popup %}{% endblock %}

{% block scripts %}
    {{ parent() }}
    <script>
        let ticket_count = '{{ payment_data.ticket_count }}';
        let saved_payment_amount = '{{ payment_data.amount }}';

        if (performance.getEntriesByType === undefined) {
            console.log("performance.getEntriesByType not supported");
        } else {
            let $navigation = performance.getEntriesByType("navigation");
            if ($navigation.length && $navigation[0].type === 'back_forward') {
                location.reload(true);
            }
        }
    </script>
{% endblock scripts %}