{% extends '@SonataAdmin/standard_layout.html.twig' %}

{% block sonata_sidebar_search %}{% endblock sonata_sidebar_search %}

{% block sonata_breadcrumb %}
    <div class="navbar-left">
        <ol class="nav navbar-top-links breadcrumb">
            <li>
                <a href="{{ url('sonata_admin_dashboard') }}">{% trans %}Dashboard{% endtrans %}</a>
            </li>
            <li class="active">Статистика событий</li>
        </ol>
    </div>
{% endblock sonata_breadcrumb %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        th, td {
            padding: 3px;
        }
    </style>
{% endblock stylesheets %}

{% block title %} - {{ 'Статистика событий' }}{% endblock title %}

{% block content %}
    <a href="{{ path('admin_statistic_all') }}">Вернутся к общей статистике</a>
    <h1>Статистика событий</h1>

    <select id="select-event-statistic" style="width: 36%">
        {% for event in events -%}
            {% if current_event_slug is not empty and current_event_slug == event.slug%}
                <option value="{{ event.slug }}" selected>{{ event.name }}</option>
            {% else %}
                <option value="{{ event.slug }}">{{ event.name }}</option>
            {% endif %}
        {% endfor %}
    </select>
    <p></p>
    <div id="event-data">{{ event_statistic_html|raw }}</div>

    <div id="div_chart"></div>
{% endblock content %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        {{ gc_draw(chart, 'div_chart') }}
    </script>

    <script>
        $(document).on('change', '#select-event-statistic', function () {
            var event_slag = $('#select-event-statistic option:selected').val();
            var url = "{{ path('admin_event_without_slug_statistic') }}" +'/'+ event_slag;
            window.location.href = url;
        });
    </script>
{% endblock javascripts %}
