{% extends '@SonataAdmin/standard_layout.html.twig' %}

{% block sonata_sidebar_search %}{% endblock sonata_sidebar_search %}

{% block sonata_breadcrumb %}
    <div class="navbar-left">
        <ol class="nav navbar-top-links breadcrumb">
            <li>
                <a href="{{ url('sonata_admin_dashboard') }}">{% trans %}Dashboard{% endtrans %}</a>
            </li>
            <li class="active">Статистика</li>
        </ol>
    </div>
{% endblock sonata_breadcrumb %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        th, td {
            padding: 3px;
        }
    </style>
{% endblock stylesheets %}

{% block title %} - {{ 'Статистика' }}{% endblock title %}

{% block content %}
    {% for event in events %}
        <h1>{{ event.name }}</h1>

        <h2>Загальна статистика</h2>
        <h4>
            Total amount: <b>{{ event.total.tickets_amount|number_format(0, '.', ',') }} ₴‎</b>
            (avg price {{ (event.total.tickets_amount / event.total.total_tickets_number)|number_format(0, '.', ',') }} ₴‎)
        </h4>
        <h4>
            Total sold number: <b>{{ event.total.total_tickets_number }} tickets</b> ({{  event.total.free_tickets_number }} free)
        </h4>
        <div id="div_chart_{{ event.id }}"></div>

        <h2>Динаміка продажів у порівнянні з минулими конференціями (по тижням)</h2>
        <div id="chart_lines" style="width: 900px; height: 500px;"></div>

        <h2>Графік продажів + графік розсилок по базі</h2>
        <h2>Графік розподілу цін (як точки)</h2>
        <h2>Повторна участь (мейбі теж як точки)</h2>
        <h2>Час від початку до завершення продажу</h2>

    {% endfor %}
    {#{% if data['event_statistic_slug'] is not empty %}#}
        {#<a href="{{ path('admin_event_statistic', {'slug' : data['event_statistic_slug']}) }}">Перейти к статистике по событиям</a>#}
        {#<br>#}
    {#{% endif %}#}
        {#<a href="{{ path('admin_events_statistic_all') }}">Перейти к статистике по пересечению аудитории событий</a><br>#}
        {#<a href="{{ path('admin_user_tickets') }}">Перейти к статистике по посетителям не купившим билет</a>#}
    {#<h1>Статистика</h1>#}

    {#<h4>Общая статистика участников</h4>#}
    {#<table >#}
        {#<tbody>#}
        {#<tr>#}
            {#<td>Всего участников:</td> <td>{{ data['totalUsersCount'] }}</td>#}
        {#</tr>#}
        {#<tr>#}
            {#<td>Активированых участников:</td> <td>{{ data['enabledUsersCount'] }}</td>#}
        {#</tr>#}
        {#<tr>#}
            {#<td>Подписаных на россылку:</td> <td>{{ data['subscribedUsersCount'] }}</td>#}
        {#</tr>#}
        {#<tr>#}
            {#<td>Отписаных от россылки:</td> <td>{{ data['unSubscribedUsersCount'] }}</td>#}
        {#</tr>#}
        {#<tr>#}
            {#<td>Купили хоть один билет:</td> <td>{{ data['haveTicketsCount'] }}</td>#}
        {#</tr>#}
        {#</tbody>#}
    {#</table>#}

    {#<h4>Купили билетов по количеству</h4>#}
    {#<table border="1">#}
        {#<thead>#}
            {#<tr>#}
                {#<td>участников</td> <td>купили билетов</td>#}
            {#</tr>#}
        {#</thead>#}
        {#<tbody>#}
            {#{% for key, count in data['usersTicketsCount'] -%}#}
                {#<tr>#}
                    {#<td>{{ count }}</td> <td>{{ key }}</td>#}
                {#</tr>#}
            {#{% endfor %}#}
        {#</tbody>#}
    {#</table>#}

    {#<h4>Купили билетов по группе событий</h4>#}
    {#<table border="1">#}
        {#<thead>#}
        {#<tr>#}
            {#<td>группа</td> <td>количество посещений</td> <td>участников</td>#}
        {#</tr>#}
        {#</thead>#}
        {#<tbody>#}
            {#{% for group_name, group in data['countsByGroup'] -%}#}
                {#{% for key, count in group -%}#}
                    {#<tr>#}
                        {#<td>{{ group_name }}</td> <td>{{ key }}</td> <td>{{ count }}</td>#}
                    {#</tr>#}
                {#{% endfor %}#}
            {#{% endfor %}#}
        {#</tbody>#}
    {#</table>#}

    {#<div id="div_chart"></div>#}

    {#<h4>статистика по принятию/отказов в предоставлении своих данных участниками</h4>#}
    {#<table>#}
        {#<tbody>#}
        {#<tr>#}
            {#<td>Людей отказалось предоставлять свои данные партнерам:</td>#}
            {#<td>{{ data['countRefusedProvideData'] }}</td>#}
        {#</tr>#}
        {#<tr>#}
            {#<td>Людей согласилось:</td>#}
            {#<td>{{ data['countAgreedProvideData'] }}</td>#}
        {#</tr>#}
        {#<tr>#}
            {#<td>Людей еще не ответило:</td>#}
            {#<td>{{ data['countNotAnswered'] }}</td>#}
        {#</tr>#}
        {#</tbody>#}
    {#</table>#}

    {#<h4>статистика по реферральной программе</h4>#}
    {#<table>#}
        {#<tbody>#}
        {#<tr>#}
            {#<td>Переходов по ссылкам:</td>#}
            {#<td>{{ data['countUseReferralProgram'] }}</td>#}
        {#</tr>#}
        {#</tbody>#}
    {#</table>#}
{% endblock content %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        {% for event in events %}
            {{ gc_draw(event.chart, 'div_chart_' ~ event.id) }}

            google.charts.load('current', {'packages':['corechart']});
            google.charts.setOnLoadCallback(drawChart);

            function drawChart() {
                var data = new google.visualization.DataTable();
                data.addColumn('number', 'x');
                data.addColumn('number', 'values');

                {% for i in 0..event.dataForIntervalsChart[0]|length-2 %}
                    data.addColumn({id:'i{{ loop.index0 }}', type:'number', role:'interval'});
                {% endfor %}

                data.addRows([
                    {% for eventsWeeklyData in event.dataForIntervalsChart%}
                        [{{ loop.index }}
                            {% for eventWeeklyData in eventsWeeklyData %}
                                ,{{ eventWeeklyData|default(0) }}
                            {% endfor %}
                        ],
                    {% endfor %}
                ]);

                // The intervals data as narrow lines (useful for showing raw source data)
                var options_lines = {
                    title: 'Line intervals, default',
                    curveType:'function',
                    lineWidth: 5,
                    interval: {
                        'i0': { 'style':'line', 'color':'gray', 'lineWidth': 3 },
                        'i1': { 'style':'line', 'color':'silver', 'lineWidth': 2 },
                        'i2': { 'style':'line', 'color':'silver', 'lineWidth': 1 },
                    },
                    legend: 'none',
                };

                var chart_lines = new google.visualization.LineChart(document.getElementById('chart_lines'));
                chart_lines.draw(data, options_lines);
            }
        {% endfor %}
    </script>
{% endblock javascripts %}
