{% extends request.isXmlHttpRequest ? "::ajax.html.twig" : "StfalconEventBundle:Participant:index.html.twig" %}

{% block ajax_content %}
    {% for participant in participants %}
        <li>
            <div class="part-wrap">
                <div class="part-block">

                    <img src="{{ gravatar(participant.user.email) }}&d={{ 'http://frameworksdays.com' ~ asset('/images/img-user-nophoto.png') }}" width="76" height="76" alt="{{ participant.user.fullname }}">

                    <div class="part-name">{{ participant.user.fullname }}</div>
                    {% if participant.user.post is not null %}
                        <div class="part-occupation">{{ participant.user.post }}</div>
                    {% endif %}
                    <div class="part-location">
                        {% if participant.user.city is not null and participant.user.country is not null %}
                            {{ participant.user.city }}, {{ participant.user.country }}.
                        {% else %}
                            {% if participant.user.city is not null %}
                                {{ participant.user.city }}.
                            {% endif %}

                            {% if participant.user.country is not null %}
                                {{ participant.user.country }}.
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </li>
    {% endfor %}
{% endblock %}