{% if partners %}
<!--BEGIN partners-->
<section id="partners-event" class="partners">
    <div class="container container--sm">
    {% if partners[1] is defined %}
        {% for sort_order in partners[1] %}
            {% for ctgname, partners in sort_order %}
            <div class="partners__box">
                <div class="partners__title">{{ ctgname }}</div>
                <ul class="partners__items">
                {% for partner in partners %}
                    {% include '@ApplicationDefault/Redesign/Partner/partner.html.twig' with {'partner': partner} %}
                {% endfor %}
                </ul>
            </div>
            {% endfor %}
        {% endfor %}
    {% endif %}
    {% if partners[0] is defined %}
        {% set class = 'right' %}
        <div class="partners__box partners__box--cols">
        {% for sort_order in partners[0] %}
            {% for ctgname, partners in sort_order %}
                {% if class == 'left' %}
                    {% set class = 'right' %}
                {% else %}
                    {% set class = 'left' %}
                <div class="partners__cols">
                {% endif %}
                    <div class="partners__{{ class }}">
                        <div class="partners__title">{{ ctgname }}</div>
                        <ul class="partners__items">
                        {% for partner in partners %}
                            {% include '@ApplicationDefault/Redesign/Partner/partner.html.twig' with {'partner': partner} %}
                        {% endfor %}
                        </ul>
                    </div>
                {% if class == 'right' %}
                </div>
                {% endif %}
           {% endfor %}
        {% endfor %}
        </div>
    {% endif %}
        <a href="{{ path('show_page', {'slug': 'partners' }) }}" class="partners__detail-link">{{ 'event.page.partners_detail'|trans }}</a>
    </div>
</section>
<!--END partners-->
{% endif %}