
<nav class="top-nav">
    <div class="wrap">
        {{ knp_menu('main') }}
            
        <div class="user-nav">
            {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                <div class="user-menu">
                    <a class="username" href="# "><span>{{ app.user.username }}</span></a>
                    <ul class="user-menu-dropdown">
                        <li><a href="{{ path('fos_user_profile_edit') }}">Личная информация</a></li>
                        {#<li><a href="# ">Платежи</a></li>#}
                        {#<li><a href="# ">Статистика</a></li>#}
                        <li><a href="{{ path('fos_user_security_logout') }}">Выйти</a></li>
                    </ul>
                </div>
            {% else %}
                <a class="signin" href="{{ path('fos_user_security_login') }}">Войти</a>
            {% endif %}
        </div>
    </div>            
</nav>

<header id="header">
    <div class="wrap">
        <div class="logo">
            <div>
                <a href="{{ path('homepage') }}" title="Frameworks Days">Frameworks Days</a>
            </div>
        </div><!-- div.logo -->

        {% if no_head != true %}
            {% render "StfalconEventBundle:Event:slider" %}
        {% endif %}
    </div>
</header><!-- #header-->

{#{% if no_head != true %}
<div class="events-switches">
    <div class="wrap">
        <ul>
            <li class="active"><a href="# ">Zend Framework Day</a></li>
            <li><a href="# ">PHP Frameworks Day</a></li>
            <li class="past-events"><a href="# ">Прошедшие</a></li>
        </ul>
    </div>
</div>
{% endif %}#}