<div class="user-nav">
    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
        <div class="user-menu">
            <a class="username" href="# "><span>{{ app.user.username }}</span></a>
            <ul class="user-menu-dropdown">
                <li><a href="{{ path('fos_user_profile_edit') }}">Личная информация</a></li>
                <li><a href="{{ path('payments_pay') }}">Оплата</a></li>
                {#<li><a href="{{ path('events_payment_status') }}">Личный кабинет</a></li>#}
                {#<li><a href="# ">Платежи</a></li>#}
                {#<li><a href="# ">Статистика</a></li>#}
                <li><a href="{{ path('fos_user_security_logout') }}">Выйти</a></li>
            </ul>
        </div>
    {% else %}
        <a class="signin" href="{{ path('fos_user_security_login') }}">Войти</a>
    {% endif %}
</div>