<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    {% include '::_head.html.twig' %}

    <body>
        <div id="wrapper" class="sidebars-right">

            <nav class="top-nav">
                {{ knp_menu('event') }}
            </nav>
            
            <header id="header">
                <div class="wrap">
                    <div class="logo">
                        <a class="custom" href="{{ path('event_show', {'event_slug': event.slug } )}}" title="{{ event.name }}">
                            <img src="{{ event.logo }}" width="120" height="129" alt="" />
                        </a>
                    </div><!-- div.logo -->
                    <div class="event-head-text">{{ event.title|raw }}</div>
                </div>
            </header><!-- #header-->

            <nav class="event-nav">
                <div class="wrap">
                    <div class="reg-button-hold"><a class="reg-button" href="# ">Зарегистрироваться</a></div>
                    
                    {{ knp_menu('event_sub') }}
                </div>
            </nav>

            <section id="middle">

                <div id="container">
                    <div id="content">
                        {% block content %}{% endblock %}
                    </div><!-- #content-->
                </div><!-- #container-->

                <aside id="side-left">

                    <h2>Докладчики</h2>

                    <ul class="presenters">
                        <li>
                            <div class="presenter-photo"><img src="/images/temp/presenter-mini1.jpg" width="64" height="64" alt="" /></div>
                            <div class="presenter-info">
                                <a href="# ">Александр Веремьев</a>
                                <div class="presenter-company">Zend Technologies</div>
                            </div>
                        </li>
                        <li>
                            <div class="presenter-photo"><img src="/images/temp/presenter-mini2.jpg" width="64" height="64" alt="" /></div>
                            <div class="presenter-info">
                                <a href="# ">Ростислав Михайлив</a>
                                <div class="presenter-company">4C</div>
                            </div>
                        </li>
                        <li>
                            <div class="presenter-photo"><img src="/images/temp/presenter-mini3.jpg" width="64" height="64" alt="" /></div>
                            <div class="presenter-info">
                                <a href="# ">Ростислав Михайлив</a>
                                <div class="presenter-company">Gadu-Gadu</div>
                            </div>
                        </li>
                    </ul>
                    <div class="allpresenters-link"><a href="# ">все докладчики</a></div>

                    <h2>Новости</h2>
                    
                    {% render "StfalconEventBundle:News:last" with { 'event': event, 'count': 7 } %}
                    
                </aside><!-- #side-left -->

                <aside id="side-right">
                    <div class="side-right-wrap">
                        <div class="side-right-holder">

                            <div class="partners">

                                <h2>Спонсоры</h2>
                                <div class="partner"><a href="# "><img src="/images/temp/img-sponsor-magento.png" width="110" height="67" alt="Magento" title="Magento" /></a></div>
                                <div class="partner"><a href="# "><img src="/images/temp/img-sponsor-habr.png" width="110" height="63" alt="Habrahabr" title="Habrahabr" /></a></div>
                                <div class="partner"><a href="# "><img src="/images/temp/img-sponsor-runnerpeak.png" width="110" height="62" alt="Runnerpeak" title="Runnerpeak" /></a></div>

                            </div>

                            <div class="partners">

                                <h2>Партнеры</h2>
                                <div class="partner"><a href="# "><img src="/images/temp/img-partner-zconf.png" width="110" height="69" alt="ZConf" title="ZConf" /></a></div>
                                <div class="partner"><a href="# "><img src="/images/temp/img-partner-zfru.png" width="110" height="76" alt="ZF.RU" title="ZF.RU" /></a></div>
                                <div class="partner"><a href="# "><img src="/images/temp/img-partner-stfalcon.png" width="110" height="71" alt="Stfalcon" title="Stfalcon" /></a></div>

                            </div>

                            <div class="become-partner"><a href="# ">Здесь может<br /> быть ваш логотип</a></div>

                        </div><!-- .side-right-holder -->
                    </div><!-- .side-right-wrap -->
                </aside><!-- #side-right -->

            </section><!-- #middle-->

        </div><!-- #wrapper -->

        {% include '::_footer.html.twig' %}

    </body>
</html>