<!doctype html>
<html lang="{{ app.request.locale }}">
<head>
    <title>{% block title %}Frameworks Days. IT tech conferences in Ukraine, Kyiv{% endblock title %}</title>
    {% block metatags %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=1">
    {% endblock metatags %}
    {% block meta_description %}
    <meta name="description" content="Frameworks Days - large-scale tech conferences, meetups and workshops for developers on JavaScript, Frontend, PHP, .NET, Highload, PM in Ukraine">
    {% endblock meta_description %}
    <link rel="icon" type="image/x-icon" href="{{ asset('img/favicon.ico') }}">
    <link rel="stylesheet" href="{{ asset('assets/styles/main.css') }}">
</head>

{% block body_class %}
<body>
{% endblock %}

{% if app.environment == 'prod' %}
    <!-- Google Tag Manager -->
    <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-PHVHRX"
                      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
                new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-PHVHRX');</script>
    <!-- End Google Tag Manager -->
{% endif %}

{% block shareButtonsScripts %}{% endblock shareButtonsScripts %}

<!--BEGIN layout-box-->
<div class="layout-box">

    <!--BEGIN layout-box__top-->
    <div class="layout-box__top">
        {% include '@ApplicationDefault/Redesign/header.html.twig' %}
        {% block content %}{% endblock content %}
    </div>
    <!--END layout-box__top-->

    <!--BEGIN layout-box__bottom-->
    <div class="layout-box__bottom">
        {% include '@ApplicationDefault/Redesign/footer.html.twig' %}
    </div>
    <!--END layout-box__bottom-->
    {% include '@ApplicationDefault/Redesign/signin_popups.html.twig' %}
</div>
<!--END layout-box-->
{% block popups %}{% endblock popups %}
{% block scripts %}
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
    <script src="{{ asset('assets/js/main.js') }}"></script>
    <script src='https://www.google.com/recaptcha/api.js?hl={{ app.request.locale }}' async defer></script>
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/additional-methods.min.js"></script>
    {% if app.request.cookies.has('event') %}
        <script>
            paymentAfterLogin();
        </script>
    {% endif %}
    <script>
        var locale = "{{ app.request.locale }}";
        var homePath = "{{ path('homepage') }}"
    </script>
    {% if app.environment == 'prod' %}
        {% include "::ga.html.twig" %}
    {% else %}
    <script>
        function ga(send, event, eventName, click) {
            console.log('ga', send, event, eventName, click);
        }
    </script>
    {% endif %}
{% endblock scripts %}
</body>
</html>