<!DOCTYPE html>
<html>
    <head>
        {# Behat hack #}
        {% if app.environment == 'test' %}
            <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        {% else %}
            <meta charset="utf-8" />
        {% endif %}

        <!--[if IE]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
        <title>{% block title %}Frameworks Days{% endblock %}</title>

        {% block metatags %}{% endblock %}

        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />

        {% stylesheets 'css/style.css' filter='?yui_css' output="tmp/css/*.css" %}
            <link rel="stylesheet" type="text/css" media="screen, projection" href="{{ asset_url }}" />
            <!--[if IE 7]><link rel="stylesheet" href="/css/style_ie7.css" type="text/css" media="screen, projection" /><![endif]-->
        {% endstylesheets %}

        <link href="{{ path('rss') }}" rel="alternate" type="application/rss+xml" title="Подписка по RSS" />
    </head>

    <body>
        <div id="wrapper" class="{% block div_wrapper_class %}no-head{% endblock %}">

            <nav class="top-nav">
                <div class="wrap">
                    {% if event is defined %}
                        {{ knp_menu_render('event_main') }}
                    {% else %}
                        {{ knp_menu_render('main', {'class': 'nav'}) }}
                    {% endif %}

                    <div class="user-nav">
                        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                            <div class="user-menu">
                                <a class="username" href="# "><span>{{ app.user.username }}</span></a>
                                <ul class="user-menu-dropdown">
                                    <li><a href="{{ path('events_my') }}">Мои события</a></li>
                                    <li><a href="{{ path('fos_user_profile_edit') }}">Личная информация</a></li>
                                    <li><a href="{{ path('fos_user_security_logout') }}">Выйти</a></li>
                                </ul>
                            </div>
                        {% else %}
                            <a class="register" href="{{ path('fos_user_registration_register') }}">Зарегистрироваться</a>
                            <a class="login" href="{{ path('fos_user_security_login') }}">Войти</a>
                        {% endif %}
                    </div>
                </div>
            </nav>

            {% block header %}
                <header id="header">
                    <div class="wrap">
                        <div class="logo">
                            <div>
                                <a href="{{ path('homepage') }}" title="Frameworks Days">Frameworks Days</a>
                            </div>
                        </div><!-- div.logo -->

                        {% block slider %}{% endblock %}
                    </div>
                </header><!-- #header-->
            {% endblock %}

            <!-- nav for events switcher -->
            {% block switch %}{% endblock %}

            <section id="middle">
                <div id="container">
                    <div id="content">
                        {% block content %}{% endblock %}
                    </div><!-- #content-->
                </div><!-- #container-->

                <aside id="side-left">
                    {% block sidebar_left %}
                            {% include "::_soc-widgets.html.twig" %}
                    {% endblock %}
                </aside><!-- #side-left -->

                <aside id="side-right">
                    {% block sidebar_right %}
                    {% endblock %}
                </aside><!-- #side-right -->

            </section><!-- #middle-->

        </div><!-- #wrapper -->

        <footer id="footer">
            <div class="wrap">
                <div class="copyright">&#169; 2011 Frameworks Days</div>
                <address>Электронная почта: <a href="mailto:orgs@fwdays.com">orgs@fwdays.com</a></address>
                <div class="created-by">Сделано в веб-студии <a class="stfalcon" href="http://stfalcon.com"><span class="icon"></span>stfalcon.com</a></div>
            </div>
        </footer><!-- #footer -->

        {% block javascripts %}{% endblock %}

        {% if app.environment == 'prod' %}
            <script type="text/javascript">

              var _gaq = _gaq || [];
              _gaq.push(['_setAccount', 'UA-19310691-2']);
              _gaq.push(['_trackPageview']);

              (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
              })();

            </script>
        {% endif %}
    </body>
</html>
