<!doctype html>
<html lang="{{ app.request.locale }}">
<head>
    <title>{% block title %}Frameworks Days{% endblock title %}</title>
    {% block metatags %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=1">
    {% endblock metatags %}
    <link rel="icon" type="image/x-icon" href="{{ asset('img/favicon.ico') }}">
    <link rel="stylesheet" href="{{ asset('assets/styles/main.css') }}">
</head>
<body>
{% block shareButtonsScripts %}{% endblock shareButtonsScripts %}

<!--BEGIN layout-box-->
<div class="layout-box">

    <!--BEGIN layout-box__top-->
    <div class="layout-box__top">
        {% include '@ApplicationDefault/Redesign/header.html.twig' %}
        {% block content %}{% endblock content %}
    </div>
    <!--END layout-box__top-->

    <!--BEGIN layout-box__bottom-->
    <div class="layout-box__bottom">
        {% include '@ApplicationDefault/Redesign/footer.html.twig' %}
    </div>
    <!--END layout-box__bottom-->
    {% include '@ApplicationDefault/Redesign/signin_popups.html.twig' %}
</div>
<!--END layout-box-->
{% block popups %}{% endblock popups %}
{% block scripts %}
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
    <script src="{{ asset('assets/js/main.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/additional-methods.min.js"></script>
{% endblock scripts %}
</body>
</html>