<!doctype html>
<html lang="{{ app.request.locale }}">
<head>
    <title>{% block title %}Fwdays. IT tech conferences in Ukraine, Kyiv{% endblock title %}</title>
    {% block metatags %}
    {% if app.environment != 'prod' -%}
        <meta name="robots" content="none"/>
    {% endif -%}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=1">
    <meta property="og:image" content="{{ asset('assets/img/gallery/gallery_image_2.jpg', null, true) }}" />
    <meta property="og:image" content="{{ asset('assets/img/gallery/gallery_image_4.jpg', null, true) }}" />
    <meta property="og:image" content="{{ asset('assets/img/gallery/gallery_image_6.jpg', null, true) }}" />
    <meta property="og:image" content="{{ asset('assets/img/gallery/gallery_image_8.jpg', null, true) }}" />
    {% endblock metatags %}
    {% block meta_description %}
    <meta name="description" content="Frameworks Days - large-scale tech conferences, meetups and workshops for developers on JavaScript, Frontend, PHP, .NET, Highload, PM in Ukraine">
    {% endblock meta_description %}
    <link rel="icon" type="image/x-icon" href="{{ asset('img/favicon.ico') }}">
    <link rel="stylesheet" href="{{ asset('assets/styles/main.css'|app_asset_version) }}">
</head>

{% block body_class %}
<body>
{% endblock %}
{%- if app.environment == 'prod' -%}
    <!-- Google Tag Manager -->
    <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-PHVHRX"
                      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager -->
{% endif %}
<!--BEGIN layout-box-->
<div class="layout-box">
    <!--BEGIN layout-box__top-->
    <div class="layout-box__top">
        {% include '@ApplicationDefault/Redesign/header.html.twig' %}
        {% block content %}{% endblock content %}
    </div>
    <!--END layout-box__top-->

    <!--BEGIN layout-box__bottom-->
    <div class="layout-box__bottom">
        {% include '@ApplicationDefault/Redesign/footer.html.twig' %}
    </div>
    <!--END layout-box__bottom-->
    {% if not is_mobile() %}
        {% include '@ApplicationDefault/Redesign/signin_popups.html.twig' %}
    {% endif %}

    {% block payment_popup %}
        {% if not is_mobile() %}
            {% include '@ApplicationDefault/Redesign/Payment/_payment.popup.html.twig' %}
        {% endif %}
    {% endblock %}
</div>

<!--END layout-box-->
{% block popups %}
    <!--BEGIN alert-->
    <div id="flash-user" class="alert alert--success">
        <div class="alert__container">
            <div id="flash-user-content" class="alert__content"></div>
            <button class="alert__close icon-close icon-close--dark"></button>
        </div>
    </div>
    <!--END alert-->
{% endblock popups %}

{% block scripts %}
    {%- if app.environment == 'prod' -%}
    <!-- Google Tag Manager -->
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
                    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
                j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
                '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
            })(window,document,'script','dataLayer','GTM-PHVHRX');
        </script>
    <!-- End Google Tag Manager -->
    {% endif %}
    <script>
        var locale = "{{ app.request.locale }}";
        var homePath = "{{ path('homepage') }}";
    </script>
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
    {% if app.environment == 'prod' -%}
        <script src="{{ asset('js/raven.min.js')}}" crossorigin="anonymous"></script>
        <script>Raven.config('https://ee926678a4cb4ea39b11c07a043d874a@sentry.stfalcon.com/48').install()</script>
    {% endif -%}
    {% set main_script = 'assets/js/'~ app.request.locale ~'/main.js' %}
    <script src="{{ asset(main_script|app_asset_version) }}"></script>

    {% if app.request.cookies.has('event') %}
        <script>paymentAfterLogin();</script>
    {%- endif %}

    {% for message in app.session.flashBag.get('fos_user_success') %}
        <script>
            {%- if message == 'profile.flash.updated' -%}
                setFlashTextAndShow('{{ 'flash_profile_updated.title'|trans }}');
            {%- elseif message == 'registration.flash.user_created' -%}
                setFlashTextAndShow('{{ 'flash_user_created.title'|trans }}');
            {%- elseif message == 'registration.flash.user_need_data' -%}
                setFlashTextAndShow('{{ 'flash_user_need_data.title'|trans }}');
            {% endif %}
        </script>
    {% endfor %}
    <div id="fb-root"></div>
    <script>
        window.fbAsyncInit = function() {
            FB.init({
                appId            : '{{ facebook_api_id }}',
                autoLogAppEvents : true,
                xfbml            : true,
                version          : 'v2.12'
            });
        };
    </script>
{% endblock scripts %}
</body>
</html>
