<tr>
    <td class="conf-logo">
        <a href="{{ path('event_show', {'event_slug': event.slug } )}}">
            <img src="{{ vich_uploader_asset(event, 'file') }}" width="88" height="87" alt="{{ event.name }}">
        </a>
    </td>
    <td class="conf-info">
        <div class="conf-info-h">
            {% include "StfalconEventBundle:Event:_event_place_block.html.twig" with { 'event': event } %}
        </div>

        <p>{{ event.description }}</p>

        <div class="conf-info-links">
            {% render controller("StfalconEventBundle:Ticket:status", { 'event': event }) %}

            <a href="{{ path('event_show', {'event_slug': event.slug } )}}" title="Детальная информация о {{ event.name }}">Детальная информация</a>
        </div>
    </td>
</tr>
