{% extends 'StfalconEventBundle::events-layout.html.twig' %}

{% block title %}Мои события / {{ parent() }}{% endblock %}

{% block content %}
    <h2>Мои события</h2>

    <table class="conferences-list">
        <tbody>
            {% for ticket in tickets %}
                <tr>
                    {% set event = ticket.event %}
                    <td class="conf-logo">
                        <a href="{{ path('event_show', {'event_slug': event.slug }) }}">
                            <img src="{{ event.logo }}" width="82" height="87" alt="{{ event.name }}">
                        </a>
                    </td>
                    <td class="conf-info">
                        <div class="conf-info-h">
                            {{ event.date|localizeddate('full', 'none') }}
                            <br>
                            {{ event.place }}, {{ event.city }}
                        </div>

                        <div class="ticket-status">
                            {% if ticket.paid %}
                                <span class="ticket-status-paid">Участие оплачено</span>
                            {% else %}
                                <span class="ticket-status-new">Участие не оплачено</span>
                                {% if event.receivePayments %}
                                    <input type="submit" value="Оплатить" onclick="location.href='{{ path('event_pay', {'event_slug': event.slug}) }}'" />
                                {% endif %}
                            {% endif %}
                        </div>

                        <p>{{ event.description }}</p>

                        <div class="conf-info-links">
                            <a href="{{ path('event_show', {'event_slug': event.slug } )}}">Детальная информация</a>
                        </div>
                    </td>
                </tr>
            {% endfor %}

        </tbody>
    </table>
{% endblock %}