{% extends 'StfalconEventBundle::events-layout.html.twig' %}

{% block title %}Мои события / {{ parent() }}{% endblock %}

{% block content %}
    <h2>Мои события</h2>

    <table class="conferences-list">
        <tbody>
            {% for ticket in tickets %}
                <tr>
                    {% set event = ticket.event %}
                    <td class="conf-logo">
                        <a href="{{ path('event_show', {'event_slug': event.slug }) }}">
                            <img src="{{ event.logo }}" width="82" height="87" alt="{{ event.name }}" title="{{ event.name }}">
                        </a>
                    </td>
                    <td class="conf-info">
                        <div class="conf-info-h">
                            {% include "StfalconEventBundle:Event:_event_place_block.html.twig" with {'event': event} %}
                        </div>

                        <p>{{ event.description }}</p>

                        {% if event.active %}
                            <div class="event-state">
                                {% if ticket.paid %} {# User paid the event #}
                                    <img src="{{ asset('images/check-small.png') }}" alt="Участие оплачено"/>
                                    Участие оплачено
                                {% elseif not ticket.paid and not event.receivePayments %} {# User added event, not paid it and payments are disabled #}
                                    Событие добавлено
                                {% elseif not ticket.paid and event.receivePayments %} {# User added event, paid it and payments are enabled #}
                                    <div class="reg-button-small-hold">
                                        <a href="{{ path('event_pay', {'event_slug': event.slug}) }}" class="reg-button-small pay" title="Оплатить">Оплатить</a>
                                    </div>
                                {% endif %}
                            </div>
                        {% endif %}

                        <div class="conf-info-links">
                            <a href="{{ path('event_show', {'event_slug': event.slug} )}}">Детальная информация</a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
