{% extends '::main-no-head.html.twig' %}

{% block content %}
    <h2>Оплата участия</h2>

    <table class="conferences-list">
        <tbody>
            {% for event in events %}
                <tr>
                    {#<td class="conf-logo">#}
                        {#<a href="{{ path('event_show', {'event_slug': event.slug } )}}">#}
                            {#<img src="{{ event.logo }}" width="82" height="87" alt="{{ event.name }}">#}
                        {#</a>#}
                    {#</td>#}
                    {#<td class="conf-info">#}
                        {#<div class="conf-info-h">#}
                            {#{{ event.title|raw }}#}
                        {#</div>#}
                            {##}
                        {#<div class="conf-info-links">#}
                            {#<a href="{{ path('event_show', {'event_slug': event.slug } )}}">Детальная информация</a>#}
                        {#</div>#}

                        {#&#123;&#35;{{ if paidEvents }}&#35;&#125;#}
                            {#&#123;&#35;Оплачено/Не оплачено&#35;&#125;#}
                        {#&#123;&#35;{{ endif }}&#35;&#125;#}
                    {#</td>#}
                </tr>
            {% endfor %}

        </tbody>
    </table>

{% endblock %}