<table >
    <tbody>
        <tr>
            <td>Зарегистрировались на событие:</td> <td>{{ wannaVisitEvent }}</td>
        </tr>
        <tr>
            <td>Билетов всего:</td> <td>{{ totalTicketCount }}</td>
        </tr>
        <tr>
            {% if totalTicketCount > 0 -%}
                <td>Билетов продано всего:</td> <td>{{ totalSoldTicketCount }} ({{ (totalSoldTicketCount * 100 / totalTicketCount)|round(2) }}%)</td>
            {% else %}
                <td>Билетов продано всего:</td> <td>0</td>
            {% endif %}
        </tr>
    </tbody>
</table>

<h4>Статистика по блокам цен</h4>

<table border="1">
    <thead>
        <tr>
            <td>Название</td>
            <td>Цена</td>
            <td>Всего количество</td>
            <td>Продано</td>
            <td>% от всех</td>
            <td>Активный</td>
            <td>Безлимитный</td>
            <td>Сумма</td>
        </tr>
    </thead>
    <tbody>
    {% for ticketBlock in ticketBlocks -%}
        <tr>
            <td>{{ ticketBlock.name }}</td>
            <td>{{ ticketBlock.amount }}</td>
            <td>{{ ticketBlock.count }}</td>
            <td>{{ ticketBlock.soldCount }}</td>
            {% if totalTicketCount > 0 -%}
                <td>{{ (ticketBlock.soldCount * 100 / totalTicketCount)|round(2) }} %</td>
            {% else -%}
                <td>0 %</td>
            {% endif %}
            <td>{% if ticketBlock.enabled %}Да{% else %}Нет{% endif %}</td>
            <td>{% if ticketBlock.unlimited %}Да{% else %}Нет{% endif %}</td>
            <td>{{ ticketsAmountSumByBlock[ticketBlock.id]|number_format(2, '.', ' ') }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<h6>Билетов без блока цен(блок удален): {{ totalTicketsWithoutCostsCount }}</h6>
