{% block javascripts %}
    {% javascripts 'js/jquery-1.8.2.min.js' 'js/password-field-eye.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

<h2>Регистрация на сайте</h2>
<form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register">
    <div id="fos_user_registration_form">
        <div>
            <label for="fos_user_registration_form_fullname" class="required">Ваше имя и фамилия</label>
            {{ form_widget(form.fullname, {'attr': {'required': 'required'}}) }}
            {{ form_errors(form.fullname) }}
        </div>
        <div>
            <label for="fos_user_registration_form_email" class="required">Электронная почта</label>
            {{ form_widget(form.email) }}
            {{ form_errors(form.email) }}
        </div>
        <div>
            <label for="fos_user_registration_form_plainPassword" class="required">Пароль</label>
            {{ form_widget(form.plainPassword) }}
            {{ form_errors(form.plainPassword) }}
            <span class="eye" title="Показать пароль"></span>
        </div>
        <div class="wrap">
            <table>
                <tr>
                    <td>
                        <div>
                            <label for="fos_user_registration_form_company">Компания</label>
                            {{ form_widget(form.company) }}
                        </div>
                    </td>
                    <td>
                        <div>
                            <label for="fos_user_registration_form_post">Должность</label>
                            {{ form_widget(form.post) }}
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div>
                            <label for="fos_user_registration_form_city">Город</label>
                            {{ form_widget(form.city) }}
                        </div>
                    </td>
                    <td>
                        <div>
                            <label for="fos_user_registration_form_country">Страна</label>
                            {{ form_widget(form.country) }}
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <div>
            <label for="fos_user_registration_form_subscribe">
            {{ form_widget(form.subscribe) }}
            Я хочу получать обновления новостей и событий на почту.</label>
        </div>
        {{ form_widget(form._token) }}
        <input type="submit" value="{{ 'registration.submit'|trans({}, 'FOSUserBundle') }}" />
    </div>
</form>
