{% extends 'ApplicationDefaultBundle::layout.html.twig' %}

{% block content %}
    <div class="container container--sm static-styles">
        <h2>{{ 'interkassa.payment.success'|trans }}</h2>

        <p>{{ 'interkassa.payment.success.emailsend'|trans|raw }}
            <a href="{{ path("cabinet") }}">{{ 'main.menu.cabinet'|trans }}</a>
        </p>
    </div>
{% endblock %}

{% block scripts %}
    {%- if payment and app.environment == 'prod' -%}
        <script>
            window.dataLayer = window.dataLayer || [];
            dataLayer.push({
                'ecommerce': {
                    'currencyCode': 'UAH',
                    'purchase': {
                        'actionField': {
                            'id': '{{ payment.id }}',
                            'revenue': '{{ payment.amount }}',
                        },
                        'products': [
                        {%- for ticket in payment.tickets %}
                            {% if ticket.ticketCost is defined and ticket.ticketCost is not null  %}
                                {% set price_block_name = ticket.ticketCost.Name %}
                            {% else %}
                                {% set price_block_name = 'null' %}
                            {% endif %}
                            {% if ticket.promoCode is defined and ticket.promoCode is not null %}
                                {% set promo_code_name = ticket.promoCode.title~'-'~ticket.promoCode.discountAmount %}
                            {% else %}
                                {% set promo_code_name = 'null' %}
                            {% endif %}

                            {
                            'name': 'Квиток {{ event_name }}',
                            'id': '{{ ticket.id }}',
                            'price': '{{ ticket.amount }}',
                            'category': '{{ event_type }}',
                            'variant': '{{ price_block_name }}',
                            'quantity': 1,
                            'coupon': '{{ promo_code_name }}'
                            },
                        {% endfor %}
                        ]
                    }
                },
                'event': 'gtm-ee-event',
                'gtm-ee-event-category': 'Enhanced Ecommerce',
                'gtm-ee-event-action': 'Purchase',
                'gtm-ee-event-non-interaction': 'False',
            });
        </script>
    {% endif %}
    {{ parent() }}
{% endblock %}