{% extends 'StfalconEventBundle::layout.html.twig' %}

{% block title %}Докладчики / {{ parent() }}{% endblock %}

{% block event_speakers_widget %}{% endblock %}

{% block content %}
    <h2>Докладчики</h2>

    <div class="presenters">
        {% for speaker in speakers %}
        <div class="presenter">
            <div class="presenter-photo">
                {% include "StfalconEventBundle::_speaker-photo.html.twig" with {'speaker': speaker, 'size': 120} %}
            </div>
            <div class="presenter-info">
                <div class="presenter-name">
                    <a href="#speaker-{{ speaker.id }}" id="speaker-{{ speaker.id }}">{{ speaker.name }}</a>
                </div>
                <div class="presenter-company">{{ speaker.company }}</div>

                {{ speaker.about|raw }}

                {% if speaker.reviews %}
                    <div class="presenter-presentation">Доклад:
                        {% for review in speaker.reviews %}
                            <a href="{{ path('event_review_show', {'event_slug': event.slug, 'review_slug': review.slug} ) }}">{{ review.title}}</a>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}
