<ul class="presenters">
    {% for speaker in speakers %}
    <li>
        <div class="presenter-photo">
            {% include "StfalconEventBundle::_speaker-photo.html.twig" with {'speaker': speaker, 'size': 64} %}
        </div>
        <div class="presenter-info">
            <a href="{{ path('event_speakers', {'event_slug': event.slug}) }}#speaker-{{ speaker.id }}">{{ speaker.name }}</a>
            <div class="presenter-company">{{ speaker.company }}</div>
        </div>
    </li>
    {% endfor %}
</ul>

<div class="allpresenters-link">
    <a href="{{ path('event_speakers', {'event_slug': event.slug}) }}">все докладчики</a>
</div>