<div class="event-card events__item">
    <div class="event-card__box" style="background-color: {{ event.backgroundColor }};">
        <div class="event-card__info">
            <h2 class="h2 h2--white event-card__title">
                <a href="{{ path('event_show', {'slug': event.slug } )}}">{{ event.name }}</a>
            </h2>
            <time datetime="{{ event.date|format_date('Y-MM-dd') }}" class="event-card__date">{{ event|app_event_date(app.request.locale, false)|raw }}, {{ event.city }}</time>
            <div class="event-card__action">
            {{ sonata_block_render({ 'type': 'sonata.block.event.ticket_status' }, {'event': event, 'position':'card'}) }}
            </div>
        </div>
        <div class="event-card__photo">
            <a href="{{ path('event_show', {'slug': event.slug } )}}">
                {% if event.logo is not empty %}
                    <img class="event-card__img lazyload" src="{{ asset('img/blank.png') }}" data-img-height="290" data-src="{{ vich_uploader_asset(event, 'logoFile') }}" alt="">
                {% endif %}
            </a>
        </div>
    </div>
</div>
