{% if result['isDiv'] %}<div{% else %}<a href="{% if result['href'] %}{{ result['href'] }}{% else %}#price-event{% endif %}" data-scroll="#price-event" {% endif %}
        {% if result['id'] %} id="{{ result['id'] }}"{% endif %}
        {% if result['class'] %} class="{{ result['class'] }}"{% endif %}
        {% if result['data'] %} data-event="{{ result['data'] }}"{% endif %}
>{% if result['caption'] %}{{ result['caption']|raw }}{% endif %}{% if result['isDiv'] %}</div>{% else %}</a>{% endif %}

{#ticket download#}
{% if result['ticket']['url'] %}<div class="{{ result['ticket']['class'] }}"><a href="{{ result['ticket']['url'] }}">{{ result['ticket']['caption']|raw }}</a></div>{% endif %}

{#certificate download#}
{% if result['certificate']['url'] %}<div class="{{ result['certificate']['class'] }}"><a href="{{ result['certificate']['url'] }}">{{ result['certificate']['caption']|raw }}</a></div>{% endif %}
