{% extends '/layout.html.twig' %}

{% block content %}
    <section class="info-page">
        <div class="container container--sm">
            <img src="{{ asset('build/img/icons/ic_thankyou.svg') }}" class="info-page__img" alt="">
            <h2 class="h2 info-page__title">{{ 'interkassa.payment.success'|trans }}</h2>
            <p class="info-page__text">{{ 'interkassa.payment.success.emailsend'|trans|raw }}
                <a href="{{ path("cabinet") }}" class="info-page__link">{{ 'main.menu.cabinet'|trans }}</a>
            </p>
        </div>
    </section>
{% endblock %}

{% block scripts %}
    {%- if payment and app.environment == 'prod' -%}
        <script>
            window.dataLayer = window.dataLayer || [];
            window.dataLayer.push({
                event: 'purchase',
                ecommerce: {
                    currency: 'UAH',
                    value: '{{ payment.amount }}',
                    transaction_id: '{{ payment.id }}',
                    items: [
                        {%- for ticket in payment.tickets %}
                            {% if ticket.ticketCost is defined and ticket.ticketCost is not null  %}
                                {% set price_block_name = ticket.ticketCost.Name %}
                            {% else %}
                                {% set price_block_name = 'null' %}
                            {% endif %}

                            {% if ticket.promoCode is defined and ticket.promoCode is not null %}
                                {% set promo_code_name = ticket.promoCode.title~'-'~ticket.promoCode.discountAmount %}
                            {% else %}
                                {% set promo_code_name = 'null' %}
                            {% endif %}

                            {
                                item_name: 'Квиток {{ event_name }}',
                                item_id: '{{ ticket.id }}',
                                price: '{{ ticket.amount }}',
                                item_variant: '{{ price_block_name }}',
                                quantity: '1',
                                coupon: '{{ promo_code_name }}'
                            },
                        {% endfor %}
                    ]
                }
            });
        </script>
    {% endif %}
    {{ parent() }}
{% endblock %}
