{% extends '::layout.html.twig' %}

{% block title %}{{ event.name }} / {{ parent() }}{% endblock %}

{% block div_wrapper_class %}sidebars-right{% endblock %}

{% block header %}
    <header id="header">
        <div class="wrap">
            <div class="logo">
                <a class="custom" href="{{ path('event_show', {'event_slug': event.slug } )}}" title="{{ event.name }}">
                    <img src="{{ event.logo }}" width="120" height="129" alt="" />
                </a>
            </div><!-- div.logo -->
            <div class="event-head-text">
                {{ event.date|localizeddate('full', 'none') }}
                <br>
                {{ event.place }}, {{ event.city }}
            </div>
        </div>
    </header><!-- #header-->

    <nav class="event-nav">
        <div class="wrap">
            {% if is_granted('IS_AUTHENTICATED_REMEMBERED') == false %}
                <div class="reg-button-hold">
                    <a class="reg-button" href="{{ path('fos_user_registration_register') }}">
                        Зарегистрироваться
                    </a>
                </div>
            {% endif %}

            {{ knp_menu_render('event_sub') }}
        </div>
    </nav>
{% endblock %}

{% block sidebar_left %}
    {#<h2>Докладчики</h2>

    <ul class="presenters">
        <li>
            <div class="presenter-photo"><img src="/images/temp/presenter-mini1.jpg" width="64" height="64" alt="" /></div>
            <div class="presenter-info">
                <a href="# ">Александр Веремьев</a>
                <div class="presenter-company">Zend Technologies</div>
            </div>
        </li>
        <li>
            <div class="presenter-photo"><img src="/images/temp/presenter-mini2.jpg" width="64" height="64" alt="" /></div>
            <div class="presenter-info">
                <a href="# ">Ростислав Михайлив</a>
                <div class="presenter-company">4C</div>
            </div>
        </li>
        <li>
            <div class="presenter-photo"><img src="/images/temp/presenter-mini3.jpg" width="64" height="64" alt="" /></div>
            <div class="presenter-info">
                <a href="# ">Ростислав Михайлив</a>
                <div class="presenter-company">Gadu-Gadu</div>
            </div>
        </li>
    </ul>
    <div class="allpresenters-link"><a href="# ">все докладчики</a></div>
    #}

    <h2>Новости</h2>

    {% render "StfalconEventBundle:News:last" with { 'event': event, 'count': 7 } %}
{% endblock %}