{% extends '::layout.html.twig' %}

{% block title %}{{ event.name }} / {{ parent() }}{% endblock %}

{% block div_wrapper_class %}sidebars-right{% endblock %}

{% block header %}
    <header id="header">
        <div class="wrap">
            <div class="logo">
                <a class="custom" href="{{ path('event_show', {'event_slug': event.slug } )}}" title="{{ event.name }}">
                    <img src="{{ vich_uploader_asset(event, 'file') }}" width="131" height="129" alt="" />
                </a>
            </div><!-- div.logo -->
            <div class="event-head-text">
                {% include "StfalconEventBundle:Event:_event_place_block.html.twig" with { 'event': event } %}

                {% render controller("StfalconEventBundle:Ticket:status", { 'event' : event }) %}
            </div>
        </div>
    </header><!-- #header-->

    <nav class="event-nav">
        <div class="wrap">
            {{ knp_menu_render('event_sub') }}
        </div>
    </nav>
{% endblock %}

{% block sidebar_left %}
    {% block event_speakers_widget %}
        <h2>Докладчики</h2>
        {% render controller("StfalconEventBundle:Speaker:widget", { 'event': event, 'count': 3 }) %}

        {% if event.active == true %}
            <h2>Участники</h2>
            {% render controller("StfalconEventBundle:Participant:widget", { 'event': event, 'count': 3 }) %}
        {% endif %}
    {% endblock %}

    {% block event_news_widget %}
        <h2>Новости</h2>
        {% render controller("StfalconEventBundle:News:widget", { 'event': event, 'count': 7 }) %}
    {% endblock %}

{% endblock %}

{% block sidebar_right %}
    {% block event_sponsors_widget %}
        {% render controller("StfalconSponsorBundle:Sponsor:widget", { 'event': event }) %}
    {% endblock %}
{% endblock %}