{% extends '::layout.html.twig' %}

{% block title %}{{ event.name }} / {{ parent() }}{% endblock %}

{% block div_wrapper_class %}sidebars-right{% endblock %}

{% block header %}
    <header id="header">
        <div class="wrap">
            <div class="logo">
                <a class="custom" href="{{ path('event_show', {'event_slug': event.slug } )}}" title="{{ event.name }}">
                    <img src="{{ vich_uploader_asset(event, 'file') }}" width="120" height="129" alt="" />
                </a>
            </div><!-- div.logo -->
            <div class="event-head-text">
                {% include "StfalconEventBundle:Event:_event_place_block.html.twig" with { 'event': event } %}

                {% render "StfalconEventBundle:Ticket:status" with { 'event' : event } %}
            </div>
        </div>
    </header><!-- #header-->

    <nav class="event-nav">
        <div class="wrap">
            {{ knp_menu_render('event_sub') }}
        </div>
    </nav>
{% endblock %}

{% block sidebar_left %}
    {% block event_speakers_widget %}
        <h2>Докладчики</h2>
        {% render "StfalconEventBundle:Speaker:widget" with { 'event': event, 'count': 3 } %}
    {% endblock %}

    {% block event_news_widget %}
        <h2>Новости</h2>
        {% render "StfalconEventBundle:News:widget" with { 'event': event, 'count': 7 } %}
    {% endblock %}

{% endblock %}

{% block sidebar_right %}
    {% block event_sponsors_widget %}
        {% render "StfalconSponsorBundle:Sponsor:widget" with { 'event': event } %}
    {% endblock %}
{% endblock %}