{% extends 'StfalconPaymentBundle::layout.html.twig' %}

{% block content %}
    <h2>Оплата участия в конференции {{ event.name }}</h2>

    <div class="info-msg-block">
        <p>
            Если вам нужно оплатить безналом участие 5ти и больше человек, тогда пишите нам на <a href="mailto:orgs@fwdays.com">orgs@fwdays.com</a>. В письме укажите "Фамилия Имя e-mail" каждого участника и ваши реквизиты.
        </p>
    </div>

    <form action="https://interkassa.com/lib/payment.php" method="post" enctype="application/x-www-form-urlencoded" accept-charset="cp1251">
        <div>
            {% if payment.hasDiscount %}
                Цена без скидки: {{ payment.amountWithoutDiscount }} грн.<br />
                <div class="amount">
                    Сумма к оплате <b>{{ payment.amount }} грн.</b> (с учетом скидки 20%)
                </div>
            {% else %}
                Сумма к оплате: <b>{{ payment.amount }} грн.</b>
            {% endif %}
        </div>
        <input type="hidden" name="ik_payment_id" value="{{ payment.id }}">
        <input type="hidden" name="ik_shop_id" value="{{ data.ik_shop_id }}">
        <input type="hidden" name="ik_payment_amount" value="{{ payment.amount }}">
        <input type="hidden" name="ik_payment_desc" value="{{ data.ik_payment_desc|escape }}">
        <input type="hidden" name="ik_paysystem_alias" value="">
        <input type="hidden" name="ik_baggage_fields" value="">
        <input type="hidden" name="ik_sign_hash" value="{{ data.ik_sign_hash }}">
        <div>
            <input type="submit" value="Оплатить участие" />
        </div>
    </form>

{% endblock %}
