{% set event = ticket.event %}

<!DOCTYPE HTML>
<html lang="ru-RU">
    <head>
        <meta charset="UTF-8" />
        <title>{{ event.name }}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link href="{{ absolute_url(asset('styles/partials/pdf.css')) }}" rel="stylesheet" type="text/css">
    </head>

    <body>
        <div class="left-element">
            <img src="{{ path ~ vich_uploader_asset(event, 'pdfBackgroundFile') }}" width="199" height="156" />
        </div>
        <div class="logo">
            <a href="{{ path('event_show_redesign', {'eventSlug': event.slug } ) }}" title="{{ event.name }}">
                <img src="{{ path ~ vich_uploader_asset(event, 'logoFile') }}" width="105" height="103" alt="{{ event.name }}" title="{{ event.name }}" />
            </a>
        </div>

        <div class="top">
            {% set fullname = ticket.user.fullname %}
            {% if fullname is empty %}
                {% set fullname = ticket.user.name~' '~ticket.user.surname %}
            {% endif %}
            <div class="dear-user">{{ 'ticket.dear_user'|trans({'%user_name%':fullname})|raw }}</div>
            <div class="date-n-address">
                <div class="wait-for-you">{{ 'ticket.wait_for_you'|trans }}</div>
                <div class="date-addr">
                    {% if event.date %}
                        {{ event.date|format_date('d MMMM Y', app.request.locale, 'Europe/Kiev') }}
                    {% endif %}
                    <br />
                    {{ 'ticket.city'|trans({'%city_name%':event.city}) }}
                    {% if event.place %}
                        {{ event.place }}
                    {% endif %}
                </div>
                <div class="registration-begins">{{ 'ticket.registration.begin'|trans }} {{ event.date|format_date('HH:mm', app.request.locale, 'Europe/Kiev') }}.</div>
            </div>
        </div>

        <div class="bottom">
            <div class="qr-code">
                <div class="qr-code-h">{{ 'ticket.event.programm'|trans }}</div>
                <div class="qr-code-img">
                    <img src="data:image/png;base64,{{ qrCodeBase64 }}" />
                </div>
                <div class="qr-code-num">№{{ ticket.id }}</div>
            </div>
            <div class="invitation-text">
                <p class="main-text">{{ 'ticket.print.ticket.text1'|trans({'%event_name%':event.name})|raw }}</p>
                <p>{{ 'ticket.print.ticket.text2'|trans|raw }}</p>
                <p>{{ 'ticket.print.ticket.text3'|trans({'%event_name%':event.name})|raw }}</p>
            </div>
            <div class="links">
                <p>Сайт: <a href="https://frameworksdays.com/">fwdays.com</a></p>
                <p>Facebook: <a href="https://www.facebook.com/fwdays">facebook.com/fwdays</a></p>
                <p>Twitter: <a href="https://twitter.com/fwdays">@fwdays</a> (<a href="https://twitter.com/search?q=fwdays&src=hash">#fwdays</a>)</p>
            </div>
        </div>

        <div class="border-frame"></div>
        <div class="border-frame2"></div>
    </body>
</html>
