{% set event = ticket.event %}
{% set locale = 'uk' %}
{% if app.request is not null %} {% set locale = app.request.locale %} {% endif %}

<!DOCTYPE HTML>
<html lang="{{ locale }}">
    <head>
        <meta charset="UTF-8" />
        <title>{{ event.name }}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <style media="print">
            *{margin:0;padding:0}
            html, body {width:1000px;}
            body{
                font:15px/21px 'Opensans', sans-serif;
                color:#000;
                background:#fff;
            }
            /* =Misc(links)----------------------------------------------------------------------------- */
            a img,fieldset{border:none}
            a{color:#0375bc}
            a:visited{color:#8ab1ca;}
            a:hover{color:#009dff}
            .clr{
                clear:both;
                height:0;
                font-size:0px;
                line-height:0px;
                overflow: hidden;
            }
            /* =Main styles----------------------------------------------------------------------------- */
            .left-element {
                position: fixed;
                left: 0;
                top: 0;
                width: 199px;
                height: 156px;
                overflow: visible;
                z-index: 1;
            }
            .logo {
                position: fixed;
                right: 0;
                top: 0;
                padding: 39px 66px 0 0;
                width: 105px;
                height: 103px;
                overflow: visible;
                z-index: 1;
            }
            .top,
            .bottom {
                position: fixed;
                z-index: 2;
            }
            .top {
                left: 0;
                top: 0;
                width: 100%;
                height: 310px;
                overflow: hidden;
            }
            .dear-user {
                padding: 85px 0 0 185px;
                font-size: 16px;
                letter-spacing: .015em;
            }
            .date-n-address {
                padding: 38px 0 0 185px;
            }
            .wait-for-you {
                float: left;
                margin-left: -110px;
                padding-top: 5px;
                width: 110px;
                font-size: 16px;
                letter-spacing: .015em;
            }
            .date-addr {
                font-size: 28px;
                line-height: 38px;
                font-weight: bold;
                letter-spacing: -2px;
                color: #0375bc;
            }
            .registration-begins {
                padding-top: 10px;
                font-size: 24px;
                letter-spacing: .01em;
            }
            .bottom {
                left: 0;
                bottom: 65px;
                padding: 80px 0 0 75px;
                overflow: hidden;
            }
            .qr-code {
                float: left;
                padding-right: 10px;
                width: 105px;
                font-size: 12px;
                line-height: 17px;
            }
            .qr-code-h {
                padding-bottom: 19px;
            }
            .qr-code-num {
                padding-top: 2px;
                font-size: 11px;
            }
            .invitation-text {
                float: left;
                padding-left: 118px;
                width: 281px;
                font-size: 12px;
                line-height: 17px;
            }
            .invitation-text p {
                margin: 0;
                padding-bottom: 7px;
            }
            .invitation-text p.main-text {
                padding-bottom: 26px;
                width: 200px;
            }
            .links {
                float: left;
                font-size: 12px;
                line-height: 17px;
            }
            .links p {
                margin: 0;
                padding: 0 0 7px 0;
            }
            .border-frame,
            .border-frame2 {
                position: absolute;
                left:     0;
                top:      0;
                width:    100%;
                height:   100%;
                border:   1px dashed #676767;
            }
            .border-frame2 {
                left:   auto;
                top:    auto;
                right:  0;
                bottom: 0;
            }
        </style>
    </head>

    <body>
        <div class="left-element">
            {% if event.pdfBackgroundFile is not empty %}
                <img src="{{ path ~ vich_uploader_asset(event, 'pdfBackgroundFile') }}" width="199" height="156" />
            {% else %}
                <img src="{{ path ~ 'uploads/events/invite_pdf_deco-js.png' }}" width="199" height="156" />
            {% endif %}
        </div>
        <div class="logo">
            <a href="{{ path('event_show_redesign', {'eventSlug': event.slug } ) }}" title="{{ event.name }}">
                    <img src="data:image/jpeg;base64,{{ event_logo }}" width="105" height="103" alt="{{ event.name }}" title="{{ event.name }}" />
            </a>
        </div>

        <div class="top">
            {% set fullname = ticket.user.fullname %}
            {% if fullname is empty %}
                {% set fullname = ticket.user.name~' '~ticket.user.surname %}
            {% endif %}
            <div class="dear-user">{{ 'ticket.dear_user'|trans({'%user_name%':fullname})|raw }}</div>
            <div class="date-n-address">
                <div class="wait-for-you">{{ 'ticket.wait_for_you'|trans }}</div>
                <div class="date-addr">
                    {% if event.date %}
                        {{ event.date|format_date('d', locale, 'Europe/Kiev') }}&nbsp;&nbsp;
                        {{ event.date|format_date('MMMM', locale, 'Europe/Kiev') }}&nbsp;&nbsp;
                        {{ event.date|format_date('Y', locale, 'Europe/Kiev') }}&nbsp;&nbsp;
                    {% endif %}
                    <br />
                    {{ 'ticket.city'|trans({'%city_name%':event.city}) }}
                    {% if event.place %}
                        {{ event.place }}
                    {% endif %}
                </div>
                <div class="registration-begins">{{ 'ticket.registration.begin'|trans }} {{ event.date|format_date('HH:mm', locale, 'Europe/Kiev') }}.</div>
            </div>
        </div>

        <div class="bottom">
            {% if app.environment != 'test' %}
            <div class="qr-code">
                <div class="qr-code-h">{{ 'ticket.event.programm'|trans }}</div>
                <div class="qr-code-img">
                    <img src="data:image/png;base64,{{ qrCodeBase64 }}" />
                </div>
                   <div class="qr-code-num">№{{ ticket.id }}</div>
            </div>
            {% endif %}
            <div class="invitation-text">
                <p class="main-text">{{ 'ticket.print.ticket.text1'|trans({'%event_name%':event.name})|raw }}</p>
                <p>{{ 'ticket.print.ticket.text2'|trans|raw }}</p>
                <p>{{ 'ticket.print.ticket.text3'|trans({'%event_name%':event.name})|raw }}</p>
            </div>
            <div class="links">
                <p>Site: <a href="https://frameworksdays.com/">fwdays.com</a></p>
                <p>Facebook: <a href="https://www.facebook.com/fwdays">facebook.com/fwdays</a></p>
                <p>Twitter: <a href="https://twitter.com/fwdays">@fwdays</a> (<a href="https://twitter.com/search?q=fwdays&src=hash">#fwdays</a>)</p>
            </div>
        </div>

        <div class="border-frame"></div>
        <div class="border-frame2"></div>
    </body>
</html>
