<div class="added-participant">
    <div class="added-participant-name">
        {{ ticket.user.fullname }} —

        {% if ticket.hasDiscount %}
            <span class="old-price">{{ 'payment.price'|trans({'%summ%':ticket.amountWithoutDiscount}) }}</span>
        {% endif %} {{ 'payment.price'|trans({'%summ%':ticket.amount}) }}&nbsp;

        {% if ticket.hasDiscount %}
            {% if ticket.hasPromoCode %}
                {{ 'payment.discount.cupon'|trans({'%summ%':ticket.getPromoCode.discountAmount}) }}&nbsp;
            {% else %}
                {{ 'payment.discount.member'|trans({'%summ%':discountAmount}) }}&nbsp;
            {% endif %}
        {% endif %}
        {% if ticket.payment.tickets.count > 1 %}
            <a href="{{ path('remove_ticket_from_payment', {'event_slug': event.slug, 'payment_id': payment.id, 'id': ticket.id}) }}"
               class="remove-participant" title="Удалить">{{ 'delete'|trans }}</a>
        {% endif %}
    </div>
    <div class="added-participant-email">{{ ticket.user.email }}</div>
</div>
