{% extends '::layout.html.twig' %}

{% block content %}
    <h2>{{ 'pay.event.title'|trans({'%event_name%':event.name}) }}</h2>
    <div class="form-wrapper">


        <form action="{{ path('add_participants_to_payment', {'slug': event.slug}) }}" method="POST"
              class="payment-form participants-form">

            <div id="participants-form">
                {% for ticket in payment.tickets %}
                    {% if ticket.user == app.user %}
                        {% include 'StfalconEventBundle:Payment:_participant.html.twig' with {'event': event, 'payment': payment, 'ticket': ticket} %}
                    {% endif %}
                {% endfor %}
                {% for ticket in payment.tickets %}
                    {% if ticket.user != app.user %}
                        {% include 'StfalconEventBundle:Payment:_participant.html.twig' with {'event': event, 'payment': payment, 'ticket': ticket} %}
                    {% endif %}
                {% endfor %}

                <div class="pay-for-other-participants">
                    <a href="#">{{ 'pay.event.pay_for_other'|trans }}</a>
                </div>

            </div>
            <div class="wrap" style="display:none;">
                <div id="stfalcon_event_ticket_participants" data-prototype="{% filter escape %}{% include 'StfalconEventBundle:Form:ticketPrototype.html.twig' with {'form': ticketForm.participants.vars.prototype} %}{% endfilter %}">
                </div>
                {#{{ form_widget(ticketForm.participants) }}#}
                <div class="wrap-footer">
                    <input type="submit" value="Закончить список и посчитать сумму">
                    <a class="add-new-participant" href="#">{{ 'pay.event.one_more_participants'|trans }}</a>
                </div>
            </div>
            <input type="hidden" name="stfalcon_event_ticket[_token]" value="{{ csrf_token("event_ticket_intention") }}" />
            <!-- /.wrap -->
        </form>

        {% for flashMessage in app.session.flashbag.get('already_paid_tickets') %}
        <div class="msg-block">
            {{ 'pay.event.members_already_paid'|trans }}<br>
            {{ flashMessage }}
        </div>
        {% endfor %}

        {% for flashMessage in app.session.flashbag.get('not_used_promocode') %}
            <div class="msg-block">
                {{ 'pay.event.members_without_dicount'|trans }}<br>
                {{ flashMessage }}
            </div>
        {% endfor %}
        <hr>

        {% if not promoCodeFromTickets %}
            <div>
                <form action="{{ path('event_pay', {'eventSlug': event.slug}) }}" method="post" class="payment-form promo-code">
                    {{ form_label(promoCodeForm.code) }}
                    {{ form_widget(promoCodeForm.code) }}
                    {{ form_errors(promoCodeForm.code) }}
                    <input type="submit" value="Применить">
                    {{ form_rest(promoCodeForm) }}
                </form>
            </div>
        {% else %}
            <div class="promo-code">
                {{ 'pay.event.cupon'|trans }}
                <b class="code">{{ promoCode.code }}</b>
            </div>
        {% endif %}

        <hr>

        <form name="payment" method="post" action="https://sci.interkassa.com/" accept-charset="UTF-8">
            <input type="hidden" name="ik_co_id" value="{{ data.ik_co_id }}" />
            <input type="hidden" name="ik_pm_no" value="{{ payment.id }}" />
            <input type="hidden" name="ik_am" value="{{ payment.amount }}" />
            <input type="hidden" name="ik_desc" value="{{ data.ik_desc|escape }}" />
            <input type="hidden" name="ik_loc" value="ru" />
            <input type="hidden" name="ik_sign" value="{{ data.ik_sign }}" />

            {% if balance > 0 %}
                <div class="pay-sum">Сумма: <span class="sum">{{ payment.baseAmount }} грн.</span></div>
                <div class="pay-sum">Ваши бонусы fwdays: <span class="sum">{{ balance }} грн.</span></div>
            {% endif %}

            <div class="pay-sum">Сумма к оплате: <span class="sum">{{ payment.amount }} грн.</span></div>
            <div>
            <input type="submit" value="Оплатить участие"/>
            </div>
        </form>

    </div>

{% endblock %}

{% block javascripts %}
    {% javascripts 'js/jquery-1.8.2.min.js' 'bundles/stfalconevent/js/ticket-form.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
