{% extends 'ApplicationDefaultBundle:Redesign:layout.html.twig' %}

{% set firstEvent = events|first %}
{% set fistLink = url('event_show_redesign', {'eventSlug' : firstEvent.slug, 'ref': code}) %}
{% if firstEvent.logoFile is not empty %}
    {% set firstImage = absolute_url(vich_uploader_asset(firstEvent, 'logoFile')) %}
{% else %}
    {% set firstImage = '' %}
{% endif %}

{% block metatags %}
    {{ parent() }}
    <meta property="og:image" content="{{ firstImage }}" />
    <meta property="og:image:width" content="580" />
    <meta property="og:image:height" content="580" />
{% endblock metatags %}
{% block shareButtonsScripts %}
    {% if app.request.locale == 'uk' %}
        {% set lang = 'uk_UA' %}
    {% else %}
        {% set lang = 'en_US' %}
    {% endif %}
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/{{ lang }}/sdk.js#xfbml=1&version=v2.10&appId={{ facebook_api_id }}";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>
{% endblock shareButtonsScripts %}
{% block content %}
    <!--BEGIN cabinet-head-->
    <div class="cabinet-head">
        <div class="container">
            <div class="cabinet-head__wrap">
                <div class="cabinet-head__left">
                    <div class="cabinet-head__label">{{ 'menu.events.my'|trans }}</div>
                </div>
                <div class="cabinet-head__right">
                {% if is_mobile() %}
                    <a href="{{ path('fos_user_profile_edit') }}" class="cabinet-head__link">{{ 'menu.profile.my'|trans }}</a>
                {% else %}
                    <a data-remodal-target="modal-profile" href="#" class="cabinet-head__link">{{ 'menu.profile.my'|trans }}</a>
                {% endif %}
                    <a href="{{ path('fos_user_security_logout') }}" class="cabinet-head__link">{{ 'menu.logout'|trans }}</a>
                </div>
            </div>
        </div>
    </div>
    <!--END cabinet-head-->
    {% if user_events|length > 0 %}
    <!--BEGIN events-->
    <section class="events">
        <div class="container">
            <div class="events__box">
                {% for event in user_events %}
                    {% if (event.adminOnly and is_granted('ROLE_ADMIN')) or (event.adminOnly != true) %}
                        {% include '@ApplicationDefault/Redesign/Event/event.card.html.twig' with {'event': event} %}
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </section>
    <!--END events-->
    {% endif %}

    <!--BEGIN share-->
    <section class="share">
        <div class="container">
            <div class="share-banner">
                <div class="share-banner__info">
                    <h2 class="h2 h2--white share-banner__title">{{ 'referral.invaite.title2'|trans }}</h2>
                    <div class="share-banner__hint-show">{{ 'referral.program.conditions.title'|trans }}</div>
                    <div class="share-banner__hint">
                        {{ 'referral.program.conditions.text'|trans({'%referal_bonus%':constant('Application\\Bundle\\DefaultBundle\\Service\\ReferralService::REFERRAL_BONUS') }) }}
                    </div>
                    <div class="share-banner__balance">{{ 'referral.balance.redesign'|trans({'%user_balance%': user.balance}) }}</div>
                </div>
                <div class="share-ref">
                    <div class="share-ref__top">
                        <div class="share-ref__label">{{ 'referral.invaite.link.text'|trans }}</div>
                        <div class="share-ref__dropdown">
                            <div id="ref-selected" class="share-ref__dropdown-selected">{{ firstEvent.name }}</div>
                            <select id="ref-dropdown" name="" class="share-ref__select">
                                {% for event in events %}
                                    {% if firstEvent.logoFile is not empty %}
                                        {% set image = absolute_url(vich_uploader_asset(event, 'logoFile')) %}
                                    {% else %}
                                        {% set image = '' %}
                                    {% endif %}
                                    <option value="{{ loop.index }}"
                                        data-ref="{{ url('event_show_redesign', {'eventSlug' : event.slug, 'ref': code}) }}"
                                        data-image="{{ image }}">
                                    {{ event.name }}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="share-ref__bottom">
                        <div class="share-ref__field">
                            <input id="ref-input" class="input share-ref__input" type="text"
                                   value="{{ url('event_show_redesign', {'eventSlug' : firstEvent.slug, 'ref': code}) }}"
                                   readonly>
                            <button id="ref-copy" class="share-ref__copy tooltip-copy" type="button"
                                    data-copy="{{ 'referral.link.copied'|trans }}">
                                <i class="icon-copy share-ref__copy-icon"></i>
                            </button>
                        </div>
                        <a id="share-ref__facebook" data-href="http://www.facebook.com/sharer/sharer.php?u={{ fistLink }}"
                           class="btn btn--md share-ref__facebook" target="_blank" data-layout="button" data-size="large" data-mobile-iframe="true"
                           onclick="popupwindow($(this).data('href'), 'facebook', 500, 350);">
                            <i class="btn__icon icon-facebook"></i>{{ 'referral.share.title'|trans }}
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--END share-->
{% endblock content%}
{% block popups %}
    {{ parent() }}
    <!--BEGIN profile-popup-->
    <div class="remodal remodal--md" data-remodal-id="modal-profile" data-remodal-options="hashTracking: false">
        <button data-remodal-action="close" class="remodal-close icon-close"></button>
        <div class="remodal__body">
            <div class="remodal__head">
                <h2 class="h2 remodal__title">{{ 'menu.user.info'|trans }}</h2>
            </div>
            {% include '@ApplicationDefault/Redesign/profile_form.html.twig' %}
        </div>
    </div>
    <!--END profile-popup-->
{% endblock popups %}