{% if event.active %}
<div class="event-row event-list__item">
{% else %}
<div class="event-row event-row--inactive event-list__item">
{% endif %}
    <div class="event-row__left">
        <a href="{{ path('event_show_redesign', {'event_slug': event.slug } )}}">
            <img class="event-row__logo" src="{{ vich_uploader_asset(event, 'logoFile') }}" alt="">
        </a>
        <div class="event-row__details">
            <a href="{{ path('event_show_redesign', {'event_slug': event.slug } )}}" class="event-row__title">{{ event.name }}</a>
            <div class="event-row__location">{{ event.city }}</div>
        </div>
    </div>
    <div class="event-row__right">
        <time class="event-row__date">
            {% if event.isUseApproximateDate %}
                <b class="event-row__month">{{ event.ApproximateDate }}</b>
            {% else %}
                <b class="event-row__month">{{ event.date|format_date('d MMMM', app.request.locale, 'Europe/Kiev') }}</b>
                <span class="event-row__year">{{ event.date|format_date('Y', app.request.locale, 'Europe/Kiev') }}</span>
            {% endif %}
        </time>
        {% render controller('ApplicationDefaultBundle:Ticket:status', {'event':event, 'position':'row'}) %}
    </div>
</div>