{% if event.activeAndFuture %}

    {% if position == 'row' %}
        {% set class = 'event-row__btn btn btn--primary btn--sm' %}
    {% elseif position == 'card' %}
        {% set class = 'btn btn--primary btn--sm event-card__btn' %}
    {% elseif position == 'event_header' %}
        {% set class = 'btn btn--primary btn--lg event-header__btn' %}
    {% elseif position == 'event_fix_header' %}
        {% set class = 'btn btn--primary btn--lg fix-event-header__btn' %}
    {% elseif position == 'event_fix_header_mob' %}
        {% set class = 'btn btn--primary btn--lg fix-event-header__btn fix-event-header__btn--mob' %}
    {% elseif position == 'event_action_mob' %}
        {% set class = 'btn btn--primary btn--lg event-action-mob__btn' %}
    {% endif %}

    {# юзер прийняв участь і оплатив квиток - друк квитка #}
    {% if ticket and ticket.paid %}
        <a class="{{ class }}" href="{{ path('event_ticket_download', {'event_slug': event.slug}) }}">
            {{ 'ticket.status.download'|trans }}
        </a>
    {# не залогинений юзер і евент приймає оплати - логін і оплата #}
    {% elseif not user and event.receivePayments %}
        <a class="{{ class }}" href="#modal-signin-payment">
            {{ 'ticket.status.pay'|trans }}
        </a>
    {# не залогинений юзер і евент не приймає оплати - логін і реестрація на евент (створення квитка) #}
    {% elseif not user and not event.receivePayments %}
        <a class="{{ class }}" href="#modal-signin-payment">
            {{ 'ticket.status.take_apart'|trans }}
        </a>

    {# юзер записався на евент але евент ще не приймає оплату - на список власних евентів #}
    {% elseif ticket and not event.receivePayments %}
        <a class="{{ class }}" href="{{ path('cabinet') }}">
            {{ 'ticket.status.event.add'|trans }}
        </a>
    {# юзер має оплачений евент але не має квитка (оплатив за інших) - на список власних евентів #}
    {% elseif (payment and payment.paid) %}
        <a class="{{ class }}" href="{{ path('cabinet') }}">
            {{ 'ticket.status.paid'|trans }}
        </a>
    {# залогинений юзер і евент не приймає оплати - реестрація на евент (створення квитка) #}
    {% elseif not event.receivePayments %}
        <a class="{{ class }}" href="#event-take-part">
            {{ 'ticket.status.take_apart'|trans }}
        </a>
    {# залогинений юзер і евент приймає оплату - створити квиток і оплатити #}
    {% elseif not payment %}
        <a class="{{ class }}" href="#modal-payment">
            {{ 'ticket.status.pay'|trans }}
        </a>
    {% endif %}

{% else %}

    {% if position == 'row' %}
        {% set class = 'event-row__done' %}
    {% else %}
        {% set class = 'event-card__done' %}
    {% endif %}

    <div class="{{ class }}">{{ 'ticket.status.event_done'|trans }}</div>

{% endif %}

