<!--BEGIN footer-->
<footer class="footer">
    <div class="container">
        <div class="footer__start">
            <div class="social social--contrast footer__social">
                {% include '@ApplicationDefault/Redesign/social.html.twig' with {'position':'footer'} %}
            </div>
            <div class="footer__copyright">© 2010–{{ "now"|date("Y") }} fwdays.com</div>
        </div>
        <div class="footer__center">
            <nav class="footer-nav">
                <ul class="footer-nav__col">
                    <li class="footer-nav__item">
                        <a href="{{ path('events') }}" class="footer-nav__link">{{ 'main.menu.events'|trans }}</a>
                    </li>
                    <li class="footer-nav__item">
                        <a href="{{ path('page', {'slug': 'contacts'}) }}" class="footer-nav__link">{{ 'main.menu.contacts'|trans }}</a>
                    </li>
                    <li class="footer-nav__item">
                        <a href="{{ path('page', {'slug': 'about'}) }}" class="footer-nav__link">{{ 'main.menu.about'|trans }}</a>
                    </li>
                </ul>
                {{ sonata_block_render({ 'type': 'sonata.block.footer' }) }}
            </nav>
        </div>
        <div class="footer__end">
            {% include '@ApplicationDefault/Redesign/menu.login.html.twig' with {'position' : 'footer'} %}
            {{ sonata_block_render({ 'type': 'sonata.block.language_switcher' }, {'position' : 'footer'}) }}
            <a href="https://stfalcon.com" target="_blank" class="made-by footer__made-by">{{ 'madeby'|trans }} <i class="made-by__icon icon-stfalcon"></i>
                stfalcon.com</a>
        </div>
    </div>
</footer>
<!--END footer-->