<form id="login-form" action="{{ url("fos_user_security_check") }}{{ queryLink }}" method="post">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"/>
    {% include '@ApplicationDefault/Redesign/login_social_btn.html.twig' %}
    <div class="form-hint">{{ 'user.by_email.title'|trans }}</div>
    <div class="form-row">
        <div class="form-col form-col--6 form-col--xs-12">
            <div class="form-group">
                <label class="form-label" for="">{{ 'user.email.title'|trans }}</label>
                <input class="input" type="email" name="_username" value="">
            </div>
        </div>
        <div class="form-col form-col--6 form-col--xs-12">
            <label class="form-label" for="">{{ 'user.password.title'|trans }}</label>
            <input class="input" type="password" name="_password" value="">
        </div>
    </div>
    <div class="form-row form-row--checkbox">
        <div class="form-col">
            <div class="checkbox">
                <input id="check1" type="checkbox" class="checkbox__input">
                <label for="check1" class="checkbox__label">{{ 'user.remember_me.title'|trans }}</label>
            </div>
        </div>
    </div>
    <div class="form-row form-row--align-center">
        <div class="form-col form-col--6 form-col--xs-12">
            <button class="btn btn--primary btn--lg form-col__btn" type="submit">{{ 'menu.login'|trans }}</button>
        </div>
        <div class="form-col form-col--6 form-col--xs-12">
            <div class="help-links">
                <a href="#modal-forgot-password" class="form-link help-links__item">{{ 'user.forgot_password.title'|trans }}</a>
                <a href="{{ registrationLink }}" class="form-link help-links__item">{{ 'menu.user.registration'|trans }} </a>
            </div>
        </div>
    </div>
</form>