<form id="login-form" action="{{ url("fos_user_security_check") }}{{ queryLink }}" method="post">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"/>
    {% include '@ApplicationDefault/Redesign/login_social_btn.html.twig' %}
    <div class="form-hint">{{ 'user.by_email.title'|trans }}</div>
    <div class="form-row">
        <div class="form-col form-col--6 form-col--xs-12">
            <div class="form-group">
                <label class="form-label" for="user_email">{{ 'user.email.title'|trans }}</label>
                <input class="input" type="email" id="user_email" name="_username" value="">
            </div>
        </div>
        <div class="form-col form-col--6 form-col--xs-12">
            <label class="form-label" for="user_password">{{ 'user.password.title'|trans }}</label>
            <input class="input" type="password" id="user_password" name="_password" value="">
        </div>
    </div>
    <div class="form-row form-row--checkbox">
        <div class="form-col">
            <div class="checkbox">
                <input id="login-check" type="checkbox" name="_remember_me" class="checkbox__input">
                <label for="login-check" class="checkbox__label">{{ 'user.remember_me.title'|trans }}</label>
            </div>
        </div>
    </div>
    <div class="form-row form-row--align-center">
        <div class="form-col form-col--6 form-col--xs-12">
            <button class="btn btn--primary btn--lg form-col__btn" type="submit">{{ 'menu.login'|trans }}</button>
        </div>
        <div class="form-col form-col--6 form-col--xs-12">
            <div class="help-links">
                <div class="help-links__item">
                    <a {% if remodal is not empty and not is_mobile() and not is_tablet() %}data-remodal-target="modal-forgot-password" href="#"{% else %} href="{{ path('fos_user_resetting_check_email') }}"{% endif %} class="form-link">{{ 'user.forgot_password.title'|trans }}</a>
                </div>
                <div class="help-links__item">
                    <a {% if remodal is not empty and not is_mobile() and not is_tablet() %}data-remodal-target="{{ remodal }}" href="#" {% else %} href="{{ path('fos_user_registration_register') }}"{% endif %} class="form-link">{{ 'menu.user.registration'|trans }}</a>
                </div>
            </div>
        </div>
    </div>
</form>