<nav class="{{ position }}-nav">
    <ul class="{{ position }}-nav__items">
        <li class="{{ position }}-nav__item">
            <a href="{{ path('events_redesign') }}" class="{{ position }}-nav__link">{{ 'main.menu.events'|trans }}</a>
        </li>
        <li class="{{ position }}-nav__item">
            <a href="{{ path('contacts') }}" class="{{ position }}-nav__link">{{ 'main.menu.contacts'|trans }}</a>
        </li>
        <li class="{{ position }}-nav__item">
            <a href="{{ path('show_page', {'slug':'about'}) }}" class="{{ position }}-nav__link">{{ 'main.menu.about'|trans }}</a>
        </li>
        {% include '@ApplicationDefault/Redesign/menu.login.html.twig' with {'position' : position} %}
    </ul>
</nav>
