<nav class="{{ position }}-nav">
    <ul class="{{ position }}-nav__{% if position == 'footer' %}col{% else %}items{% endif %}">
        <li class="{{ position }}-nav__item">
            <a href="{{ path('events') }}" class="{{ position }}-nav__link">{{ 'main.menu.events'|trans }}</a>
        </li>
        <li class="{{ position }}-nav__item">
            <a href="{{ path('contacts') }}" class="{{ position }}-nav__link">{{ 'main.menu.contacts'|trans }}</a>
        </li>
        <li class="{{ position }}-nav__item">
            <a href="{{ path('about') }}" class="{{ position }}-nav__link">{{ 'main.menu.about'|trans }}</a>
        </li>
    </ul>
</nav>
