{% if position == 'header' %}
    <li class="header-nav__item header-nav__item--mob">
    {% set class = position ~'-nav__link' %}
{% elseif position == 'footer' %}
    <li class="footer-nav__item">
    {% set class = position ~'-nav__link' %}
{% elseif position == 'header__auth' %}
    {% set class = position %}
{% endif %}

    {% if app.user is not null and is_granted("IS_AUTHENTICATED_REMEMBERED")  %}
        <a href="{{ path('cabinet') }}" class="{{ class }}">{{ 'main.menu.cabinet'|trans }}</a>
    {% else %}
        <a data-remodal-target="modal-signin" href="#" class="{{ class }}">{{ 'menu.login'|trans }}</a>
    {% endif %}

{% if position in ['header', 'footer'] %}
</li>
{% endif %}
