{% set form_id = remodal|replace({'-': '_'}) %}

<form id="form_registration_{{ form_id }}" action="{{ path('fos_user_registration_register') }}{{ queryLink }}" method="POST">
    <input type="hidden" id="fos_user_registration_form__token_{{ remodal }}" name="fos_user_registration_form[_token]"
           value="{{ csrf_token('registration') }}" required/>
    <div class="form-row">
        <div class="form-col form-col--6 form-col--xs-12">
            <div class="form-group">
                <label class="form-label form-label--required"
                       for="fos_user_registration_form_name_{{ remodal }}">{{ 'user.name.title'|trans }}</label>
                <input class="input valid-name {% if regForm is defined and regForm.name.vars.errors|length %}input--error{% endif %}" type="text" id="fos_user_registration_form_name_{{ remodal }}"
                       name="fos_user_registration_form[name]" value="{% if regForm is defined and regForm.name.vars.value %}{{ regForm.name.vars.value }}{% endif %}" required/>
                    {% if regForm is defined and regForm.name.vars.errors|length %}<p class="text-error">{{ regForm.name.vars.errors[0].message|trans }}</p>{% endif %}
            </div>
        </div>
        <div class="form-col form-col--6 form-col--xs-12">
            <label class="form-label form-label--required"
                   for="fos_user_registration_form_surname_{{ remodal }}">{{ 'user.surname.title'|trans }}</label>
            <input class="input valid-name {% if regForm is defined and regForm.surname.vars.errors|length %}input--error{% endif %}" type="text" id="fos_user_registration_form_surname_{{ remodal }}"
                   name="fos_user_registration_form[surname]" value="{% if regForm is defined and regForm.surname.vars.value %}{{ regForm.surname.vars.value }}{% endif %}" required/>
                    {% if regForm is defined and regForm.surname.vars.errors|length %}<p class="text-error">{{ regForm.surname.vars.errors[0].message|trans }}</p>{% endif %}
        </div>
    </div>
    <div class="form-row">
        <div class="form-col form-col--6 form-col--xs-12">
            <div class="form-group">
                <label class="form-label form-label--required"
                       for="fos_user_registration_form_email_{{ remodal }}">{{ 'user.email.title'|trans }}</label>
                <input class="input valid-email {% if regForm is defined and regForm.email.vars.errors|length %}input--error{% endif %}" type="email" id="fos_user_registration_form_email_{{ remodal }}"
                       name="fos_user_registration_form[email]" value="{% if regForm is defined and regForm.email.vars.value %}{{ regForm.email.vars.value }}{% endif %}" required/>
                {% if regForm is defined and regForm.email.vars.errors|length %}<p class="text-error">{{ regForm.email.vars.errors[0].message|trans }}</p>{% endif %}
            </div>
        </div>
        <div class="form-col form-col--6 form-col--xs-12">
            <label class="form-label form-label--required"
                   for="fos_user_registration_form_plainPassword_{{ remodal }}">{{ 'user.password.title'|trans }}</label>
            <div class="input-password">
                <input class="input input-password__field valid-plainPassword {% if regForm is defined and regForm.plainPassword.vars.errors|length %}input--error{% endif %}" type="password" id="fos_user_registration_form_plainPassword_{{ remodal }}"
                       name="fos_user_registration_form[plainPassword]" value="" required/>
                <i class="input-password__icon icon-eye icon-password--js"></i>
                {% if regForm is defined and regForm.plainPassword.vars.errors|length %}<p class="text-error">{{ regForm.plainPassword.vars.errors[0].message|trans }}</p>{% endif %}
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="form-col form-col--6 form-col--xs-12">
            <div class="form-group">
                <label class="form-label" for="fos_user_registration_form_phone_{{ remodal }}">{{ 'user.phone.title'|trans }}</label>
                <input class="input valid-phone mask-phone-input--js {% if regForm is defined and regForm.phone.vars.errors|length %}input--error{% endif %}" type="tel" id="fos_user_registration_form_phone_{{ remodal }}"
                       name="fos_user_registration_form[phone]" placeholder="+380" value="{% if regForm is defined and regForm.phone.vars.value %}{{ regForm.phone.vars.value }}{% endif %}">
                {% if regForm is defined and regForm.phone.vars.errors|length %}<p class="text-error">{{ regForm.phone.vars.errors[0].message|trans }}</p>{% endif %}
            </div>
        </div>
    </div>
    <div class="form-row form-row--checkbox">
        <div class="form-col">
            <div class="checkbox">
                <input id="fos_user_registration_form_subscribe_{{ remodal }}" type="checkbox"
                       name="fos_user_registration_form[subscribe]" class="checkbox__input" checked>
                <label for="fos_user_registration_form_subscribe_{{ remodal }}"
                       class="checkbox__label">{{ 'user.subscribe.title'|trans }}</label>
            </div>
        </div>
    </div>
    <div class="form-row form-row--align-center">
        <div class="g-recaptcha"
             data-sitekey="{{ google_site_key }}"
             data-callback="submitRegistrationForm"
             data-size="invisible">
        </div>
        <div class="form-col form-col--6 form-col--xs-12">
            <button class="btn btn--primary btn--lg form-col__btn"
                    {% set ga_label = 'main' %}
                    {% if queryLink is not empty %}
                        {% if app.request.baseUrl ~ app.request.pathInfo != path('homepage') %}
                            {% set ga_label = 'event' %}
                        {% endif %}
                    {% endif %}
                    onclick="recapchaValidate('form_registration_{{ form_id }}');
                             ga('send', 'button', 'register', '{{ ga_label }}');
                             return false;"
                    >{{ 'user.create.title'|trans }}
            </button>
        </div>
        <div class="form-col form-col--6 form-col--xs-12">
            <div class="help-links">
                <div class="help-links__item">
                    <a {% if remodal is not empty and not is_mobile() %}data-remodal-target="{{ remodal }}"
                       href="#"{% else %}href="{{ path('fos_user_security_login') }}"{% endif %}
                       class="form-link">{{ 'user.already_have_account.title'|trans }}</a>
                </div>
            </div>
        </div>
    </div>
</form>