<!--BEGIN signin-popup ЛОГИН-->
<div class="remodal remodal--md" data-remodal-id="modal-signin" data-remodal-options="hashTracking: false">
    <button data-remodal-action="close" class="remodal-close icon-close"></button>
    <div class="remodal__body">
        <div class="remodal__head">
            <h2 class="h2 remodal__title">{{ 'menu.login'|trans }}</h2>
        </div>
        {% include '@ApplicationDefault/Redesign/login_form.html.twig' with{'remodal':'modal-signup', 'queryLink':''} %}
    </div>
</div>
<!--END signin-popup-->

<!--BEGIN signin-payment-popup  -->
<div class="remodal remodal--md" data-remodal-id="modal-signin-payment" data-remodal-options="hashTracking: false">
    <button data-remodal-action="close" class="remodal-close icon-close"></button>
    <div class="remodal__body">
        <div class="remodal__head">
            <h2 class="h2 remodal__title change-title">{{ 'menu.login'|trans }}</h2>
        </div>
        {% include '@ApplicationDefault/Redesign/login_form.html.twig' with{'remodal':'modal-signup-payment', 'queryLink':'?exception_login=1'} %}
    </div>
</div>
<!--END signin-payment-popup-->

<!--BEGIN signup-payment-popup РЕГИСТРАЦИЯ-->
<div class="remodal remodal--md" data-remodal-id="modal-signup" data-remodal-options="hashTracking: false">
    <button data-remodal-action="close" class="remodal-close icon-close"></button>
    <div class="remodal__body">
        <div class="remodal__head">
            <h2 class="h2 remodal__title">{{ 'menu.user.registration'|trans }}</h2>
        </div>
        {% include '@ApplicationDefault/Redesign/registration_form.html.twig' with {'remodal':'modal-signin', 'queryLink':''} %}
    </div>
</div>
<!--END signup-payment-popup-->

<!--BEGIN signup-payment-popup РЕГИСТРАЦИЯ-->
<div class="remodal remodal--md" data-remodal-id="modal-signup-payment" data-remodal-options="hashTracking: false">
    <button data-remodal-action="close" class="remodal-close icon-close"></button>
    <div class="remodal__body">
        <div class="remodal__head">
            <h2 class="h2 remodal__title">{{ 'menu.user.registration'|trans }}</h2>
        </div>
        {% include '@ApplicationDefault/Redesign/registration_form.html.twig' with {'remodal':'modal-signin-payment', 'queryLink':'?exception_login=1'} %}
    </div>
</div>
<!--END signup-payment-popup-->

<!--BEGIN forgot-password-popup-->
<div class="remodal remodal--md" data-remodal-id="modal-forgot-password" data-remodal-options="hashTracking: false">
    <button data-remodal-action="close" class="remodal-close icon-close"></button>
    <div class="remodal__body">
        <div class="remodal__head">
            <h2 class="h2 remodal__title">{{ 'user.forgot_password.title'|trans }}</h2>
        </div>
        {% include '@ApplicationDefault/Redesign/forgot_password_form.html.twig' %}
    </div>
</div>
<!--END forgot-password-popup-->

<!--BEGIN payment-popup-->
<div class="remodal remodal--md" data-remodal-id="modal-payment" data-remodal-options="hashTracking: false">
    <button id="close-payment" data-remodal-action="close" class="remodal-close icon-close"></button>
    <div class="remodal__body">
        <div class="remodal__head remodal__head--payment">
            <h2 class="h2 remodal__title change-title"></h2>
        </div>
        <form id="payment" name="payment" action="https://sci.interkassa.com/" method="post" enctype="utf-8" accept-charset="UTF-8">
            <p id="pay-form"><!-- render html --></p>
            <div id="payment-add-user" class="form-add">
                <div class="form-add__hint"> {{ 'pay.event.pay_for_other'|trans }}
                    <a id="cancel-add-user" href="#" class="btn-link">{{ 'cancel.title'|trans }}</a>
                </div>
                <div class="form-row">
                    <div class="form-col form-col--6 form-col--xs-12">
                        <div class="form-group">
                            <label class="form-label" for="payment_user_name">{{ 'user.name.title'|trans }}</label>
                            <input class="input" type="text" id="payment_user_name" name="user-name" value="">
                        </div>
                    </div>
                    <div class="form-col form-col--col-6 form-col--xs-12">
                        <div class="form-group">
                            <label class="form-label" for="payment_user_surname">{{ 'user.surname.title'|trans }}</label>
                            <input class="input" type="text" id="payment_user_surname" name="user-surname" value="">
                        </div>
                    </div>
                </div>
                <div class="form-row ">
                    <div class="form-col form-col--6 form-col--xs-12">
                        <div class="form-group">
                            <label class="form-label" for="payment_user_email">{{ 'user.email.title'|trans }}</label>
                            <input class="input" type="email" id="payment_user_email" name="user-email" value="">
                        </div>
                    </div>
                    <div class="form-col form-col--6 form-col--xs-12 form-col--btn-md">
                        <button type="button" class="btn btn--secondary btn--md form-col__btn add-user-btn">{{ 'add.title'|trans }}</button>
                    </div>
                </div>
            </div>
            <div id="add-promo-code" class="form-add">
                <div class="form-add__hint"> {{ 'pay.enter_promo.title'|trans }}
                    <a id="cancel-promo-code" href="#" class="btn-link">{{ 'cancel.title'|trans }}</a>
                </div>
                <div class="form-row">
                    <div class="form-col form-col--6 form-col--xs-12">
                        <div class="form-group">
                            <label class="form-label" for="user_promo_code">{{ 'pay.event.cupon'|trans }}</label>
                            <input name="user_promo_code" class="input" id="user_promo_code" type="text" value="">
                        </div>
                    </div>
                    <div class="form-col form-col--6 form-col--xs-12 form-col--btn-md">
                        <button type="button" class="btn btn--secondary btn--md form-col__btn add-promo-code-btn">{{ 'add.title'|trans }}</button>
                    </div>
                </div>
            </div>
            <div class="payment-info">
                <div class="payment-info__left">
                    <div class="payment-info__btn-link">
                        <a id="add-user-trigger" href="#" class="btn-link">{{ 'pay.event.one_more_participants'|trans }}</a>
                    </div>
                    <div class="payment-info__btn-link">
                        <a id="promo-code-trigger" href="#" class="btn-link">{{ 'pay.i_have_promo.title'|trans }}</a>
                    </div>
                </div>
                <div id="payment-sums" class="payment-info__right">
                </div>
            </div>

            <div class="form-row">
                <div class="form-col form-col--6 form-col--xs-12">
                    <div class="form-group">
                        <label class="form-label" for="user_phone">{{ 'user.phone.title'|trans }}</label>
                        <input class="input mask-phone-input--js" placeholder="+38" id="user_phone" name="user_phone" type="tel" value="{% if app.user is not null and is_granted("IS_AUTHENTICATED_REMEMBERED") %}{{ app.user.phone }}{% endif %}" required>
                    </div>
                </div>
                <div class="form-col form-col--6 form-col--xs-12 form-col--btn-lg">
                    <button id="buy-ticket-btn" class="btn btn--primary btn--lg form-col__btn" type="submit">{{ 'ticket.status.pay'|trans }}</button>
                </div>
            </div>
        </form>
    </div>
</div>
<!--END payment-popup-->