{% for speaker in speakers %}
<li class="speakers__item speaker-card">
    <div class="speaker-card__box">
        <a href="#" class="speaker-card__top">
            <img class="speaker-card__photo" src="{{ vich_uploader_asset(speaker, 'file') }}" alt="">
            <span class="speaker-card__name">{{ speaker.name }}</span>
            <span class="speaker-card__position">{{ speaker.company }}</span>
        </a>
        <div class="speaker-card__bottom">
            {% if speaker.reviews %}
                {% for review in speaker.reviews %}
                    <a href="{{ path('event_review_show_redesign', {'event_slug':event.slug, 'review_slug':review.slug }) }}" class="speaker-card__report">{{ review.title }}</a>
                    <div class="like-btn speaker-card__likes">
                    {% include '@ApplicationDefault/Redesign/like.html.twig' with {'review':review} %}
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
</li>
{% endfor %}