<div class="speaker-popup">
    {% if speaker.photo is not null %}
        <img class="speaker-popup__photo lazyload" src="{{ asset('img/blank.png') }}" data-src="{{ speaker_cache_path ~ '/' ~ speaker.photo }}" alt="">
    {% else %}
        <img class="speaker-popup__photo lazyload" src="{{ asset('img/blank.png') }}" data-src="{{ asset('build/img/speakers/default_avatar.png') }}" alt="">
    {% endif %}
    <div class="speaker-popup__description">
        <div class="speaker-popup__name">{{ speaker.name }}</div>
        <div class="speaker-popup__position">{{ speaker.company }}</div>
        <div class="speaker-popup__info">
            {{ speaker.about|raw }}
        </div>
    </div>
</div>
{% if with_review %}
    {% if speaker.reviews %}
        {% for review in speaker.reviews %}
            <div class="report-popup">
                <a href="{{ path('event_review_show', {'slug':event.slug, 'reviewSlug':review.slug }) }}"
                   class="report-popup__title">{{ review.title }}</a>
                {% if review.event.isActiveAndFuture %}
                    <div class="report-popup__likes">
                        <div class="like-btn">
                            {% include 'Redesign/like.html.twig' with {'review':review} %}
                        </div>
                    </div>
                {% endif %}
                <div class="report-popup__description">
                    {{ review.text|raw }}
                </div>
            </div>
        {% endfor %}
    {% else %}
        <div class="report-popup">
            <div class="report-popup__description">
                {{ 'speaker.no_review.text'|trans }}
            </div>
        </div>
    {% endif %}
{% endif %}


