{% extends '@ApplicationDefault/Redesign/layout.html.twig' %}

{% block content %}
<div class="form-box">
    <h2 class="h2 form-box__title">{{ 'user.change_password.title'|trans }}</h2>
    <form action="{{ path('fos_user_resetting_reset', {'token': token}) }}" {{ form_enctype(form) }} method="POST" class="fos_user_resetting_reset">
        <div class="form-row">
            <div class="form-col form-col--6 form-col--xs-6">
                <label class="form-label form-label--required" for="fos_user_resetting_form_new_first">{{ 'form.new_password'|trans({}, 'FOSUserBundle') }}</label>
                <input class="input {% if form is defined and form.new.first.vars.errors|length %}input--error{% endif %}" type="password" id="fos_user_resetting_form_new_first" name="fos_user_resetting_form[new][first]" required="required">
                {% if form is defined and form.new.first.vars.errors|length %}<p class="text-error">{{ form.new.first.vars.errors[0].message|trans }}</p>{% endif %}
            </div>
        </div>
        <div class="form-row">
            <div class="form-col form-col--6 form-col--xs-6">
                <label class="form-label form-label--required" for="fos_user_resetting_form_new_second">{{ 'form.new_password_confirmation'|trans({}, 'FOSUserBundle') }}</label>
                <input class="input {% if form is defined and form.new.second.vars.errors|length %}input--error{% endif %}" type="password" id="fos_user_resetting_form_new_second" name="fos_user_resetting_form[new][second]" required="required">
                {% if form is defined and form.new.second.vars.errors|length %}<p class="text-error">{{ form.new.second.vars.errors[0].message|trans }}</p>{% endif %}
            </div>
        </div>
        {{ form_widget(form._token) }}
        <div class="form-row form-row--align-center">
            <div class="form-col form-col--6 form-col--xs-6">
                <button class="btn btn--primary btn--lg form-col__btn"
                        type="submit">{{ 'change_password.submit'|trans({}, 'FOSUserBundle') }}</button>
            </div>
        </div>
    </form>
</div>
{% endblock content %}
