{% if event.active %}
    {% for review in speaker.reviews %}
        <div class="button-like {{ review.isLikedByUser(app.user)?'active' }}">
            <div class="button-like-top {{ not review.likedUsers.count?'empty' }}">{{ review.likedUsers.count?review.likedUsers.count }}</div>
            <a {% if (is_granted('ROLE_USER')) %} class="voter" {% endif %}

                    href="{{ path('event_review_like', {'slug': review.slug }) }}" rel="nofollow">{{ 'rewiew.wonna.listen'|trans }} </a>
        </div>
    {% endfor %}
{% endif %}