{% extends 'StfalconEventBundle::layout.html.twig' %}

{% block title %}{{ review.title }} / {{ parent() }}{% endblock %}

{% block event_speakers_widget %}{% endblock %}

{% block content %}
    <h2>{{ review.title }}</h2>

    <article class="presentation">
        {% for speaker in review.speakers %}
            <div class="presenter">
                <div class="presenter-photo">
                    {% include "StfalconEventBundle::_speaker-photo.html.twig" with {'speaker': speaker, 'size': 120} %}
                </div>
                <div class="presenter-info">
                    <div class="presenter-name">{{ speaker.name }}</div>
                    <div class="presenter-company">{{ speaker.company }}</div>

            {{ speaker.about|raw }}
                </div>
            </div>
        {% endfor %}

        {{ review.text|raw }}
    </article>

    {% include "StfalconEventBundle::_share_buttons.html.twig" %}

    {% include "StfalconEventBundle::_disqus.html.twig" %}

{% endblock %}