<h1 style="font-family: Arial; font-size: 18px; line-height: 22px; font-weight: normal; color: #000000; padding-bottom: 20px; margin-top: 0; margin-bottom: 0;">
    {{ 'interkassa.mail.msg.hello'|trans({'{{user_fullname }}': user.fullname})|raw }}
</h1>

<p style="font-family: Arial; font-size: 15px; line-height: 22px; font-weight: normal; color: #000000; padding-right: 20px; margin-top: 0; margin-bottom: 0;">
    {{ 'interkassa.mail.msg.thanks'|trans({'{{event_name }}': event.name})|raw }}
    <br/>
    {{ 'interkassa.mail.msg.remember'|trans({'{{event_date }}': event.date|localizeddate('none', 'none', 'ru-RU', null, "d MMMM Y"), 'event_palce':event.place})|raw }}
    <br>
    {{ 'interkassa.mail.msg.ticket'|trans }}
</p>