{% extends '::layout.html.twig' %}

{% block title %}{{ page.title }} / {{ parent() }}{% endblock %}

{% block meta_keywords %}{{ page.metaKeywords }}{% endblock %}
{% block meta_description %}{{ page.metaDescription }}{% endblock %}

{% block content %}
    <h2>
        {{ page.title }}
    </h2>

    {{ page.text|raw }}
{% endblock %}