{% extends 'StfalconEventBundle::layout.html.twig' %}

{% block title %}{{ one_news.title }} / {{ parent() }}{% endblock %}

{% block content %}
    <article>
        <h2>{{ one_news.title }}</h2>

        <div class="article-date-rubrics">{{ one_news.createdat|date('d M Y') }}, <a href="{{ path('event_show', { 'eventSlug': event.slug }) }}">{{ event.name }}</a></div>

        {{ one_news.text|raw }}
    </article>

    <div class="to-newslist-link"><a href="{{ path('event_news', { 'eventSlug': event.slug }) }}">← <u>{{ 'news.to_the_list'|trans }}</u></a></div>

    {% include "StfalconEventBundle::_share_buttons.html.twig" %}

    {% include "StfalconEventBundle::_disqus.html.twig" %}

{% endblock %}