{% if sponsor.site %}
    <a href="{{ sponsor.site }}">
{% endif %}

    {% if sponsor.file %}
        <img src="{{ vich_uploader_asset(sponsor, 'file') }}" alt="{{ sponsor.name }}" title="{{ sponsor.name }}" />
    {% else %}
        {{ sponsor.name }}
    {% endif %}

{% if sponsor.site %}
    </a>
{% endif %}