<div class="side-right-wrap">
    <div class="side-right-holder">
        <div class="partners">
            <h2>Спонсоры</h2>
            {% if sponsors.count > 0 %}
                {% for sponsor in sponsors %}
                    {% if sponsor.logo %}
                        <div class="partner">
                            <a href="{{ sponsor.site }}">
                                <img src="{{ asset(sponsor.logo) }}" alt="{{ sponsor.name }}" title="{{ sponsor.name }}" />
                            </a>
                        </div>
                    {% else %}
                        <div>
                            <a href="{{ sponsor.site }}" title="{{ sponsor.name }}" />{{ sponsor.name }}</a>
                        </div>
                    {% endif %}
                {% endfor %}
            {% else %}
                Им можете стать Вы! ;)
            {% endif %}
        </div>
    </div>
</div>