{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
    {% if error %}
        <div class="error-msg-block"><p>{{ error|trans({}, 'FOSUserBundle') }}</p></div>
    {% endif %}

    <form action="{{ path("fos_user_security_check") }}" method="post">
        <div>
            <label for="username">{{ 'security.login.username'|trans({}, 'FOSUserBundle') }}</label>
            <input type="text" id="username" name="_username" value="{{ last_username }}" />
        </div>

        <div>
            <label for="password">{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}</label>
            <input type="password" id="password" name="_password" />
        </div>

        <div>
            <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
            <label for="remember_me">{{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}</label>
        </div>

        <div>
            <input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}" />
        </div>

        <p>
            <a href="{{ path('fos_user_registration_register') }}">Зарегистрироваться</a>
            <br />
            <a href="{{ path('fos_user_resetting_request') }}">Забыли пароль?</a>
        </p>
    </form>

{% endblock fos_user_content %}
