<section id="location-event" class="location">
    <div class="container container--sm">
        <h2 class="h2 location__title">{{ 'event.page.venue'|trans }}</h2>
        <div class="location__description">
            {{ event.city }}, {{ event.place }}
        </div>
        {%- if venue_page -%}
            <a href="{{ path('show_event_venue_page', {'slug': event.slug }) }}" class="location__help">{{ 'event.page.venue_how'|trans }}</a>
        {%- endif -%}
    </div>
    <div class="container">
        <div id="map" data-event="{{ event.slug }}" data-lng="{{ event.lng }}" data-lat="{{ event.lat }}" class="location__map"></div>
    </div>
</section>
