{% set link = '' %}
{% set scrollClass = '' %}
{% if position == 'report' %}
    {% set link = url('event_show', {'slug': event.slug }) %}
{% elseif position == 'event' %}
    {% set scrollClass = ' go-to-block' %}
{% endif %}
<!--BEGIN event-header-->
<section class="event-header
    {% if event.useCustomBackground and event.background is not empty and (event.headerVideo is empty or is_mobile()) -%}
        event-header--background" style="background-image: url({{ vich_uploader_asset(event, 'backgroundFile') }});
    {%- else -%}" style="background-color: {{ event.backgroundColor }};{%- endif -%}">

    {%- if event.useCustomBackground and not is_mobile() and event.headerVideo is not empty -%}
        <div class="event-header-video">
            <video autoplay muted loop>
                <source src="{{ vich_uploader_asset(event, 'headerVideoFile') }}" type="video/mp4">
            </video>
        </div>
    {%- endif -%}

    <div class="container">
        <div class="event-header__box">
            <h1 class="event-header__title">{{ event.name }}</h1>
            <div class="event-header__info">
                <div class="event-header__description">{{ event.description|raw }}
                </div>
                <div class="event-header__details">
                    <div class="event-header__details-left">
                        {% if event.dateEnd and event.date|date("d/m/Y") == event.dateEnd|date("d/m/Y") %}
                            <time datetime="{{ event.date|format_date('Y-MM-dd') }}" class="event-header__date">{{ event.date|app_format_date_only(event.dateFormat, app.request.locale, 'Europe/Kiev') }}{% if 'H' in event.dateFormat %},<br> {{ event.date|app_format_time_only(event.dateFormat, app.request.locale, 'Europe/Kiev') }}–{{ event.dateEnd|app_format_time_only(event.dateFormat, app.request.locale, 'Europe/Kiev') }}{% endif %}</time>
                        {% elseif event.dateEnd %}
                            <time datetime="{{ event.date|format_date('Y-MM-dd') }}" class="event-header__date">{{ event.date|app_format_date(event.dateFormat, app.request.locale, 'Europe/Kiev') }}<br> – {{ event.dateEnd|app_format_date(event.dateFormat, app.request.locale, 'Europe/Kiev') }}</time>
                        {% else %}
                            <time datetime="{{ event.date|format_date('Y-MM-dd') }}" class="event-header__date">{{ event.date|app_format_date_only(event.dateFormat, app.request.locale, 'Europe/Kiev') }}{% if 'H' in event.dateFormat %},<br>{{ event.date|app_format_time_only(event.dateFormat, app.request.locale, 'Europe/Kiev') }}{% endif %}</time>
                        {% endif %}
                        {% if programPage %}
                        <a href="{{ link }}#program-event" class="event-header__program{{ scrollClass }}">{{ 'event.page.program'|trans }}</a>
                        {% endif %}
                    </div>
                    <div class="event-header__details-right">
                        <a href="{{ link }}#location-event" class="event-header__location{{ scrollClass }}">{{ event.place|raw }}</a>
                    </div>
                </div>
                <div class="event-header__action">
                    <div class="event-header__action-ticket">
                        {{ sonata_block_render({ 'type': 'sonata.block.event.ticket_status' }, {'event': event, 'position':'event_header'}) }}
                    </div>
                    {% if event.activeAndFuture and event.receivePayments and event.hasAvailableTickets %}
                        <a href="{{ link }}#price-event" class="event-header__tickets{{ scrollClass }}">{{ 'ticket.summ_from'|trans({"%summ%":eventCurrentAmount|number_format(0,',',' ')}) }}</a>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="event-header__photo">
            {% if event.showLogoWithBackground or event.useCustomBackground == false or (event.background is empty and is_mobile()) %}
                <img class="event-header__img" src="{{ vich_uploader_asset(event, 'logoFile') }}" alt="{{ event.name }}">
            {% endif %}
        </div>
    </div>
</section>
<!--END event-header-->
{% include '@App/Redesign/Event/event.fix_header.html.twig' with
    {
        'event':event,
        'programPage':programPage,
        'venuePage':venuePage,
        'pages':pages,
        'position': position
    }
%}

<!--BEGIN event-buy-mob-->
<section class="event-action-mob">
    <div class="container">
        {{ sonata_block_render({ 'type': 'sonata.block.event.ticket_status' }, {'event': event, 'position':'event_action_mob'}) }}
    </div>
</section>
<!--END event-buy-mob-->
