{% extends '::layout.html.twig' %}

{% block content %}
    <section class="error">
        <div class="container container--sm">
            <h2 class="h2 error__title">{{ 'page.error.notfound.error'|trans }}. {{ 'page.error.notfound'|trans }}</h2>
            <p class="error__text">{{ 'page.error.notfound.message'|trans|raw }}</p>
            <div class="numbered-list-caption">
                {{ 'page.error.notfound.you_can'|trans|raw }}
            </div>
            <ul class="numbered-list">
                <li class="numbered-list__item"><a href="{{ path('homepage') }}" class="numbered-list__link">{{ 'page.error.notfound.you_can1'|trans|raw }}</a></li>
                <li class="numbered-list__item">{{ 'page.error.notfound.you_can2'|trans|raw }}</li>
            </ul>
        </div>
    </section>
{% endblock %}
