{% extends '@SonataAdmin/standard_layout.html.twig' %}

{% block sonata_sidebar_search %}{% endblock sonata_sidebar_search %}

{% block sonata_breadcrumb %}
    <div class="navbar-left">
        <ol class="nav navbar-top-links breadcrumb">
            <li>
                <a href="{{ url('sonata_admin_dashboard') }}">{% trans %}Dashboard{% endtrans %}</a>
            </li>
            <li class="active">Статистика</li>
        </ol>
    </div>
{% endblock sonata_breadcrumb %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        th, td {
            padding: 3px;
        }
    </style>
{% endblock stylesheets %}

{% block title %} - {{ 'Статистика' }}{% endblock title %}

{% block content %}
        {#<h1>{{ event.name }}</h1>#}



    {% if data['event_statistic_slug'] is not empty %}
        <a href="{{ path('admin_event_statistic', {'slug' : data['event_statistic_slug']}) }}">Перейти к статистике по событиям</a>
        <br>
    {% endif %}
        <a href="{{ path('admin_events_statistic_all') }}">Перейти к статистике по пересечению аудитории событий</a><br>
        <a href="{{ path('admin_user_tickets') }}">Перейти к статистике по посетителям не купившим билет</a>
    <h1>Статистика</h1>

    <h4>Общая статистика участников</h4>
    <table >
        <tbody>
        <tr>
            <td>Всего участников:</td> <td>{{ data['totalUsersCount'] }}</td>
        </tr>
        <tr>
            <td>Активированых участников:</td> <td>{{ data['enabledUsersCount'] }}</td>
        </tr>
        <tr>
            <td>Подписаных на россылку:</td> <td>{{ data['subscribedUsersCount'] }}</td>
        </tr>
        <tr>
            <td>Отписаных от россылки:</td> <td>{{ data['unSubscribedUsersCount'] }}</td>
        </tr>
        <tr>
            <td>Купили хоть один билет:</td> <td>{{ data['haveTicketsCount'] }}</td>
        </tr>
        </tbody>
    </table>

    <h4>Купили билетов по количеству</h4>
    <table border="1">
        <thead>
            <tr>
                <td>участников</td> <td>купили билетов</td>
            </tr>
        </thead>
        <tbody>
            {% for key, count in data['usersTicketsCount'] -%}
                <tr>
                    <td>{{ count }}</td> <td>{{ key }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <h4>Купили билетов по группе событий</h4>
    <table border="1">
        <thead>
        <tr>
            <td>группа</td> <td>количество посещений</td> <td>участников</td>
        </tr>
        </thead>
        <tbody>
            {% for group_name, group in data['countsByGroup'] -%}
                {% for key, count in group -%}
                    <tr>
                        <td>{{ group_name }}</td> <td>{{ key }}</td> <td>{{ count }}</td>
                    </tr>
                {% endfor %}
            {% endfor %}
        </tbody>
    </table>

    <div id="div_chart"></div>

    <h4>статистика по принятию/отказов в предоставлении своих данных участниками</h4>
    <table>
        <tbody>
        <tr>
            <td>Людей отказалось предоставлять свои данные партнерам:</td>
            <td>{{ data['countRefusedProvideData'] }}</td>
        </tr>
        <tr>
            <td>Людей согласилось:</td>
            <td>{{ data['countAgreedProvideData'] }}</td>
        </tr>
        <tr>
            <td>Людей еще не ответило:</td>
            <td>{{ data['countNotAnswered'] }}</td>
        </tr>
        </tbody>
    </table>

    <h4>статистика по реферральной программе</h4>
    <table>
        <tbody>
        <tr>
            <td>Переходов по ссылкам:</td>
            <td>{{ data['countUseReferralProgram'] }}</td>
        </tr>
        </tbody>
    </table>
{% endblock content %}
