{% extends 'StfalconEventBundle::events-layout.html.twig' %}

{% block title %}{{ 'referral.invaite.title'|trans }} / {{ parent() }}{% endblock %}

{% block javascripts %}
    {% javascripts 'js/jquery-1.8.2.min.js' 'js/simple-slider.js' 'js/jquery.cycle.all.min.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script type="text/javascript">
        $(document).ready(function(){
            $('#code-inp').focus(function(){
                $(this).select();
            });
        });
    </script>
{% endblock %}

{% block content %}
    <h2>{{ 'referral.invaite.title2'|trans }} </h2>
    <div class="text">
        <p class="text-desc">
            <p>{{ 'referral.invaite.text1'|trans|raw }} </p>
            <p>{{ 'referral.invaite.text2'|trans|raw }} </p>
        </p>
    </div>
    <div class="form-wrapper referral-page">
        <p>{{ 'referral.balance'|trans }} <span class="sum">{{ balance }} ₴</span></p>
        <hr/>
        <div class="ref-link">
            <p>{{ 'referral.invaite.link.text'|trans|raw }} </p>
            <input id="code-inp" type="text"
                   value="{{ url('event_show', {'event_slug' : 'pm-fwdays-2017', 'ref': code}) }}"/>
        </div>
    </div>
{% endblock %}